<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content=" Shinhanbank hỗ trợ vay tín chấp với lãi suất cực kì ưu đãi chỉ từ 0.6% / 1 tháng , ưu đãi lãi suất cho giáo viên và nhân viên lương cao, khoản vay cao từ 50 đến 900 tr.">
<meta name="keywords" content="Vay tín chấp,vay theo lương,shinhanbank,vay shinhanbank, tinchapshinhanbank, tin chap ngan hang, ">

<meta name="robots" content="noodp,index,follow" />
<meta name='revisit-after' content='1 days' />
<meta http-equiv="content-language" content="vi" />
<!-- facebook -->
<meta property="og:url"                content="/home" />
<meta property="og:type"               content="article" />
<meta property="og:title"              content="Vay Tin Chấp Shinhanbank"/>
<meta property="og:description"        content=" Shinhanbank hỗ trợ vay tín chấp với lãi suất cực kì ưu đãi chỉ từ 0.6% / 1 tháng , ưu đãi lãi suất cho giáo viên và nhân viên lương cao, khoản vay cao từ 50 đến 900 tr."/>
<meta property="og:image"              content="/public/upload/70a90db03b38483c9ba08f2d9f723fe8.jpg" />

<title>Vay Tin Chấp Shinhanbank</title>
<link rel="stylesheet" href="/public/css/owl.carousel.css" type="text/css">
<link rel="stylesheet" href="/public/css/owl.theme.css" type="text/css">
<link rel="shortcut icon" href="/public/image/d03043f4108131a3e2744d472056fe70.png" type="image/x-icon" />
<!-- css new -->
 <link rel="stylesheet" href="/public/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/public/css/bootstrap-select.min.css" type="text/css">
<link rel="stylesheet" href="/public/css/a6a15.css" type="text/css"> 
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<link rel="stylesheet" href="/public/css/line-icons.css" type="text/css">
<link rel="stylesheet" href="/public/css/animate.css" type="text/css">

<!--<link rel="stylesheet" href="css/ion.rangeSlider.css" type="text/css">
<link rel="stylesheet" href="css/ion.rangeSlider.skinFlat.css" type="text/css">
<link rel="stylesheet" href="css/slick.css" type="text/css">
<link rel="stylesheet" href="css/slick-theme.css" type="text/css">
<link rel="stylesheet" href="css/nivo-lightbox.css" type="text/css">-->
<link rel="stylesheet" href="/public/css/slicknav.css" type="text/css">
<link rel="stylesheet" href="/public/css/effectimg.css" type="text/css">
<link rel="stylesheet" href="/public/css/flashy.min.css" type="text/css">
<link rel="stylesheet" href="/public/css/styles.css" type="text/css">
<link rel="stylesheet" href="/public/css/responsive.css" type="text/css">
<link rel="stylesheet" href="/public/css/navmobile.css" type="text/css"> 

<link rel="stylesheet" href="/public/css/ie-fallback.css" type="text/css"> 
<script type="text/javascript" src="/public/js/jquery-min.js"></script>

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

<style>
    .nav>li.activemuangay{display: none;}
</style>

<!-- OneSignal -->

<!-- thêm script -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.12&appId=349617628768544&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src=""></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-126253076-6');
</script>
</head>
<body>
 <div class="topheader">
    <div class="container">
       <div class="nav-top-links">
			 <a class="first-item" href="tel:0707183645"><i class="fa fa-phone" aria-hidden="true"
                    style="position: relative;top: 1px;"></i> 0707183645</a>
            <a class="last-item" href="mailto:vayshinhanbankvn@gmail.com"><i class="fa fa-envelope"
                    style="position: relative;top: 1px;"></i> vayshinhanbankvn@gmail.com</a>
	  </div>
    </div>
</div>
<div class="header"  data-scroll-index='0'>
      <nav class="navbar navbar-default" data-spy="affix" data-offset-top="50">
<div class="container">
<div class="row">
<div class="col-lg-2">

<div class="clear"></div>
</div>
<div class="col-lg-10">
<div class="navbar-collapse collapse">

<ul class="nav navbar-nav">

<li>
<a href="home">Trang Chủ </a>

</li>

<li>
<a href="gioi-thieu">
Giới Thiệu
</a>
</li>
<li>
<a href="lien-he">
Liên Hệ
</a>
</li>
<li class="btdangkivay clickmodaldangki">
  <span>Đăng Kí Vay</span>
</li>
</ul>


</div>
</div>

</div>
</div>

<div class="ci_stripe">
          <div class="ci_stripe_righthalf"></div>
          <div class="ci_stripe_in wrap"></div>
</div>

</nav>
<!-- mua ngay -->


<!-- mua ngay -->
<!-- giao diện menu mobile -->
<div class="show-mobile click-menu-mobile">

	<span class="icon-bar-mobile">
	    <i class="fa fa-bars" aria-hidden="true"></i>
	</span>
    <div class="clear"></div>
</div>
<div id='cssmenu'>

<ul class="show-mobile-ul">
     <li>
        <a href="home">Trang Chủ </a>
        
        </li>
		<li>
        <a href="gioi-thieu">Giới Thiệu </a>
        
        </li>
                <li>
            <a href="/san-pham-dich-vu-shinhanbank"> SẢN PHẨM DỊCH VỤ VAYSHINHAN</a>
                              <ul>
                                      <li>
                    <a href="/vay-tieu-dung>">
                    Vay Tiêu Dùng                     </a>
                    </li>
                                    <li>
                    <a href="/the-tin-dung-shinhanbank>">
                    thẻ tín dụng vayshinhan                     </a>
                    </li>
                                    <li>
                    <a href="/ho-tro-cong-nhan-va-tu-doanh">
                    Hỗ Trợ Công Nhân và Tự Doanh                    </a>
                    </li>
                                 </ul>
                    </li>
                
                
        
        <li>
        <a href="lien-he">
        Liên Hệ
        </a>
        </li>
</ul>
</div></div>

    {{{body}}}


<!--phone-->
<div class="box-tool-utilities">
    <a class="buttons tootip" href="tel:0707183645">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <span class="tooltip-contact tooltip-phone"><strong>0707183645</strong></span>
    </a>
    <a class="buttons tootip" href="mailto:vayshinhanbankvn@gmail.com" rel="nofollow" target=”_blank”>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <span class="tooltip-contact tooltip-mail"><strong>vayshinhanbankvn@gmail.com</strong></span>
    </a>
</div>
<!-- end-->

 <script type="text/javascript" src="/public/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/public/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/public/js/0e8d1.js"></script>
<script type="text/javascript" src="/public/js/bootstrap-select.min.js"></script>
<!--<script type="text/javascript" src="js/ion.rangeSlider.js"></script> tam thoi ẩn-->
<script type="text/javascript" src="/public/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="/public/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/public/js/nivo-lightbox.js"></script>
<script type="text/javascript" src="/public/js/slick.min.js"></script>
<script type="text/javascript" src="/public/js/jquery.slicknav.js"></script>
<script type="text/javascript" src="/public/js/navmobile.js"></script>
<!-- zoom -->
<script type="text/javascript" src="/public/js/jquery.lazyload.js"></script>
<script type="text/javascript" src="/public/js/main.js"></script>
<script type="text/javascript" src="/public/js/ajax.js"></script>
<script type="text/javascript" src="/public/js/jquery.raty-fa.js"></script>
<script type="text/javascript" src="/public/js/scrollIt.min.js"></script>
<script type="text/javascript" src="/public/js/jquery.flashy.min.js"></script>
<script type="text/javascript" src="/public/js/mainimg.js"></script>
<!-- giờ -->
<script type="text/javascript" src="/public/js/jquery.countdown.min.js"></script>
<!-- fix height -->
<script type="text/javascript" src="/public/js/jquery.equalize.min.js"></script>
<!-- scroll fixed -->
<script type="text/javascript" src="/public/js/number-divider.js"></script>
<script type="text/javascript">

//number format
$('.sotienvay').divide({delimiter: ',',
	divideThousand: false});
//lazyload
 $("img.lazy" ).each(function(){
     $(this).attr("data-original", $(this).attr("src"));
     $(this).attr("src","/public/image/loadingpage.jpg");
 });
 $("img.lazyleft" ).each(function(){
     $(this).attr("data-original", $(this).attr("src"));
     $(this).attr("src",'/public/upload/loadingpage.jpg');
 });
 
 $(function() {
     console.log("test testse")
     $("img.lazy").lazyload({
             effect : "fadeIn",
             threshold:100,
     });
     $("img.lazyleft").lazyload({
         effect : "fadeIn",
         threshold:900,
    });
     
     $('.checkrating').raty({ scoreName: 'entity[score]' });
     $('.danhgia').raty({ readOnly: true, score:function() {
		    return $(this).attr('data-score');
	  } });
     $.scrollIt()
     
 });
 
 </script>
</body>
</html>