

<script src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.25/gmaps.js"></script>
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb">
                  <!-- <a href=""><i class="fa fa-home" aria-hidden="true"></i> Trang Chủ</a>
                   <span class="crumbs-spacer"><i class="fa fa-angle-double-right"></i></span>
                   <a href=""> Trang mữ</a>
                   <span class="crumbs-spacer"><i class="fa fa-angle-double-right"></i></span>
                   <span class="current">Thời Trang Nam</span>  -->
                   <a href="/home"><i class="fa fa-home" aria-hidden="true"></i> Trang Chủ</a>
                                       <span class="crumbs-spacer"><i class="fa fa-angle-double-right"></i></span>
                   <span class="current">Liên Hệ</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-bottom: 17px;background-color: white;padding: 3px;">
         <div class="row">
    <div class="col-lg-12">
        <div class="wrap-contact">
            <div class="card">
                <div class="card-body" style="color:#f1f1f1;text-align: center; background: #36D1DC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
                    <p style="margin-left:1%">
                    <i class="fa fa-user" aria-hidden="true"></i> Mr.Bằng &nbsp; &nbsp;
                    <i class="fa fa-phone" aria-hidden="true"></i> SDT:0707183645 &nbsp; &nbsp;
                    <i class="fa fa-mobile" aria-hidden="true"></i> Zalo:0707183645 &nbsp; &nbsp;</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 21px">
    <div class="col-xs-12 col-sm-6">
        <div class="wrap-lienhe">
            <div class="panel-cart-group">
                    <span class="panel-cart-text">Họ Và Tên:</span>
                    <input type="text" name="name" class="form-control tenlienhe" value="" required="">
            </div>
            <div class="panel-cart-group">
                    <span class="panel-cart-text">Điện Thoại:</span>
                    <input type="text" name="name" class="form-control phonelienhe" value="" required="">
            </div>
            <div class="panel-cart-group">
                    <span class="panel-cart-text">Email:</span>
                    <input type="text" name="name" class="form-control maillienhe" value="" required="">
            </div>
            <div class="panel-cart-group">
                    <span class="panel-cart-text">Tin Nhắn Liên Hệ Của Bạn:</span>
                    <textarea class="form-control tinnhanlienhe" name="message" style="height: 90px;"></textarea>
             </div>
             <button type="button" class="btn btn-common clicklienhe">Gửi</button>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.133635067979!2d106.658652414468!3d10.801075461692529!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175292db3ef3599%3A0x8215e66b758431f8!2sShinhan%20Bank%20CCPL%20Vay%20t%C3%ADn%20ch%E1%BA%A5p!5e0!3m2!1svi!2s!4v1605188113265!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</iframe>
</div>
      </div>
</div>
     </div>
         
		 
 
<div class="wrap-footer-text group">
   <div class="container">
      <div class="row">
	     <div class="title-text-vaytindung title-mr-70">
			        <h2>TẠI SAO NÊN CHỌN Shinhanbank</h2>
			     </div>
				 <div class="col-md-4 col-sm-6 col-xs-12 paddingweb">
		   <div class="item equalize">
		      <span class="number">1</span>
			  <span class="title">HOÀN TOÀN MIỄN PHÍ</span>
			  <p class="text">
                    Tự do tìm kiếm, nhận tư vấn và đăng ký trực tuyến 100% miễn phí                </p>
			</div>
		 </div>
		  		 <div class="col-md-4 col-sm-6 col-xs-12 paddingweb">
		   <div class="item equalize">
		      <span class="number">2</span>
			  <span class="title">NHANH CHÓNG, TIỆN LỢI, NHIỀU ƯU ĐÃI</span>
			  <p class="text">
                    Đắng ký vay / Gửi tiết kiệm / Mở thẻ trực tuyến nhanh chóng                </p>
			</div>
		 </div>
		  		 <div class="col-md-4 col-sm-6 col-xs-12 paddingweb">
		   <div class="item equalize">
		      <span class="number">3</span>
			  <span class="title">CHUYÊN NGHIỆP TUYỆT ĐỐI</span>
			  <p class="text">
                    Dịch vụ chuyên nghiệp từ các chuyên gia tài chính                </p>
			</div>
		 </div>
		  	  </div>
   </div>
</div>
<div class="header-border-bottom">
    
 
</div>
<footer class="section">
<div class="container">
<div class="row">
<div class="col-md-3 col-sm-6">
<div class="block-subscribe">
<h3 class="widget-title">Giới Thiệu</h3>
<p>Hotline: 0707183645</p></p>
</div>
</div>
<div class="col-md-3 col-sm-6">
<h3 class="widget-title">SẢN PHẨM DỊCH VỤ SHINHANBANK</h3>
<ul>
      <li><a href="/vay-tieu-dung">Vay Tiêu Dùng </a></li>
     <li><a href="/the-tin-dung-shinhanbank">thẻ tín dụng shinhanbank </a></li>
     <li><a href="/vay-the-chap-nha-dat">Vay Thế Chấp Nhà đất</a></li>
     <li><a href="/ho-tro-cong-nhan-va-tu-doanh">Hỗ Trợ Công Nhân và Tự Doanh</a></li>
   
</ul>
  </div>
<div class="col-md-3 col-sm-6">
<h3 class="widget-title">Nhận Tin Khuyến Mãi</h3>
<div class="tagcloud">
      <input type="text" class="form-control textdangki" name="email" placeholder="Vui Lòng Nhập Email" style="margin-bottom: 5px">
      <button type="button" class="btn btn-common clickdangki">Đăng Kí</button>
</div>
</div>

</div>
</div>
</footer>
<div class="website" style="    background-color: #f1f1f1;color:#1b1b1b;font-size: 15px;padding: 7px 0px;">

</div>
 <div class="modal fade"  id="modalsanpham"  tabindex="-1" role="dialog" aria-labelledby="demoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg  " role="document">
        <div class="modal-content" style="padding-bottom: 17px;">

            <div class="container-fluid">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    
                      <div class="wrap-ajax-sanpham" style="padding: 22px 18px;">
                              <div class="show-ajax-sanpham">
                                   
                              </div>
                          
                      </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
 <div class="modal fade"  id="modalgiohang"  tabindex="-1" role="dialog"
     aria-labelledby="demoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg  " role="document">
        <div class="modal-content">

            <div class="container-fluid">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    
                      <div class="wrap-giohang">
                          <p class="dangloadgh" style="background-color: #00a08a;color: white;padding: 13px 15px;">Sản Phẩm Đã Thêm Vào Giỏ Hàng</p>
                          
                              <div class="show-ajax-giohang">
                                 
                                   
                                 
                              </div>
                          
                      </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>

 
 <div class="modal fade"  id="modaldangki"  tabindex="-1" role="dialog"
     aria-labelledby="demoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg  " role="document">
        <div class="modal-content">

            <div class="container-fluid">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                   <div class="title-text-vaytindung" style="margin-top: 30px;">
			        <h2>Đăng Kí Vay Tiêu Dùng</h2>
					<form method="post" class="formdangki">
					<div class="wrap-modal-vaytieudung">
						<div class="panel-cart-group">
							<span class="panel-cart-text">Họ Và Tên (*):</span>
							<input type="text" name="name" class="form-control hovatenmodal" value="" placeholder="Họ Và Tên(*)" required>
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Cơ Quan Hiện Tại:</span>
							<input type="text" name="coquan" class="form-control coquanhientaimodal" value="" placeholder="Cơ Quan Hiện Tại">
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Số Điện Thoại (*):</span>
							<input type="text" name="sodienthoai" class="form-control sodienthoaimodal" value="" placeholder="Số Điện Thoại(*)">
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Địa Chỉ (*):</span>
							<input type="text" name="diachi" class="form-control diachimodal" value="" placeholder="Địa Chỉ">
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Thu Nhập Hàng Tháng:</span>
							<select class="form-control thunhaphangthang" name="thunhap">
                                 <option value="">Thu Nhập Hàng Tháng</option>
                                 <option value="Dưới 5 Triệu">Dưới 5 Triệu</option>
                                 <option value="5-10 Triệu">5-10 Triệu</option>	
                                 <option value="10-15 Triệu">10-15 Triệu</option>
                                 <option value="15-20 Triệu">15-20 Triệu</option>
                                 <option value="Trên 20 Triệu">Trên 20 Triệu</option>								 
                            </select>
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Số Tiền Cần Vay (*):</span>
							<input type="text" name="sotien" class="form-control sotienvay sotienvaymotmodal" value="" placeholder="Số Tiền Cần Vay(*)" onkeypress="return isNumberKey(event)">
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Số CMND (*):</span>
							<input type="text" name="socmnd" class="form-control socmndmodal" value="" placeholder="Số CMND(*)" onkeypress="return isNumberKey(event)">
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Ngày Sinh (*):</span>
							<input type="text" name="ngaysinh" class="form-control ngaysinhmodal" value="" placeholder="Ngày Sinh(*)">
						</div>
						
						<div class="panel-cart-group">
						<span class="panel-cart-text">Hình Thức Nhận Lương (*):</span>
						<select class="form-control hinhthucnhanluongmodal" name="hinhthuc">
                                 <option value="">Hình Thức Nhận Lương</option>
                                 <option value="Tiền Mặt">Tiền Mặt</option>
                                 <option value="Chuyển Khoản">Chuyển Khoản</option>	
                                 						 
                         </select>
				       </div>
						
						<div class="wrap-dangki-ngay-form">
				           <span class="clickdangkiformmodal">Đăng Kí Ngay <i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
		                   <p class="dangchaydkmodal" style="margin-top: 6px;display:none">Đang Đăng Kí, Quý Khách Đợi Trong Giây Lát ...</p>
						 </div>
						
					</div>
					</form>
			     </div>
                </div>
            </div>
        </div>
    </div>
</div> <div class="modal fade"  id="modalthongbao"  tabindex="-1" role="dialog"
     aria-labelledby="demoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg  " role="document">
        <div class="modal-content">

            <div class="container-fluid">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    
                      <div class="wrap-giohang">
                          <p class="dangloadgh" style="background-color: #482368;color: white;padding: 13px 15px;font-size: 18px;">Thông Báo</p>
                          
                              <div class="show-ajax-thongbao">
                                 
                                    <p class="icon"><i class="fa fa-check-circle" aria-hidden="true"></i></p>
                                    <p class="text">Đăng Kí Thành Công</p>
                              </div>
                          
                      </div>
                   
                </div>
            </div>
        </div>
    </div>
</div><a href="#" class="back-to-top">
<i class="fa fa-arrow-up" aria-hidden="true"></i>
</a>
 