<div class="slider-full">
    <div class="touch-slider owl-carousel owl-loaded" data-slider-pagination="true">
        <div class="item">
            <a href="https://shinhanbankvay24h.com.vn/"><img
                    src="https://shinhanbankvay24h.com.vn/upload/slider/dff7290ad75168b8ae2014e28e5ce41f.jpg"
                    alt="vay nhanh tín dụng"></a>
        </div>
        <div class="item">
            <a href="https://shinhanbankvay24h.com.vn/"><img
                    src="https://shinhanbankvay24h.com.vn/upload/slider/8b12544a774c93b32258bf6131cd8e12.png"
                    alt="phê duyệt nhanh "></a>
        </div>



    </div>
</div>

<div class="container group">
    <div class="row wrap-home">
        <div class="col-lg-12">
            <div class="title-text-vaytindung">
                <h2>CÁC SẢN PHẨM VAY TÍN CHẤP TIÊU DÙNG SHINHANBANK</h2>
            </div>
            <div class="wrap-item-home">
                <div class="col-md-4 col-sm-6 col-xs-12 paddingweb">
                    <a href="https://shinhanbankvay24h.com.vn/tien-ich/vay-tieu-dung-">
                        <div class="item-home equalize">

                            <img src="https://shinhanbankvay24h.com.vn/upload/catalog/c89343e945eea8eddccbefdd47c1c766.png"
                                alt="">
                            <div class="title">
                                Vay Tiêu Dùng </div>
                            <div class="intro">
                                Vay tiêu dùng shinhanbank lãi suất cực kì ưu đãi chỉ từ 0.6% không thẩm định nhà. </div>

                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 paddingweb">
                    <a href="https://shinhanbankvay24h.com.vn/tien-ich/vay-the-chap-nha-dat">
                        <div class="item-home equalize">

                            <img src="https://shinhanbankvay24h.com.vn/upload/catalog/cf3c612d0921b472a062636dc7a58fdd.jpg"
                                alt="">
                            <div class="title">
                                Vay Thế Chấp Nhà đất </div>
                            <div class="intro">
                                Bạn lo lắng lãi suất không ổn định hoặc thủ tục vay vốn quá phức tạp?
                                Chương trình ưu đãi lãi suất hấp dẫn từ Ngân hàng Shinhan sẽ là điểm tựa tài chính vững
                                chắc để bạn an tâm bắt đầu hành trình an cư lạc nghiệp </div>

                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 paddingweb">
                    <a href="https://shinhanbankvay24h.com.vn/tien-ich/the-tin-dung-shinhanbank-">
                        <div class="item-home equalize">

                            <img src="https://shinhanbankvay24h.com.vn/upload/catalog/c83ecd8d31c050cf081e159111e7a696.jfif"
                                alt="">
                            <div class="title">
                                thẻ tín dụng shinhanbank </div>
                            <div class="intro">
                                thẻ tín dụng shinhanbank với nhiều ưu đãi bất ngờ cực sốc dành cho các chủ sở hữu </div>

                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 paddingweb">
                    <a href="https://shinhanbankvay24h.com.vn/tien-ich/ho-tro-cong-nhan-va-tu-doanh">
                        <div class="item-home equalize">

                            <img src="https://shinhanbankvay24h.com.vn/upload/catalog/5b0e3eb901f2da618e175595c96ee068.jpg"
                                alt="">
                            <div class="title">
                                Hỗ Trợ Công Nhân và Tự Doanh </div>
                            <div class="intro">
                                Hỗ trợ các đối tượng công nhân lãnh lương chuyển khoản và tiền mặt có BHYT đầy đủ, tự
                                kinh doanh có đứng tên hóa đơn điện hoặc cafvec xe chính chủ. </div>

                        </div>
                    </a>
                </div>
                <div class="clear"></div>

            </div>
        </div>
    </div>
</div>

<!-- ĐĂNG KÝ VAY TIÊU DÙNG-->

<div class="wrap-dangkivay-home">

    <div class="wrap-text-dk">
        <div class="container">
            <div class="row">
                <form method="post" class="formdangkihome">
                    <div class="form-dang-ki-home">
                        <div class="title-text-vaytindung title-mr-70">
                            <h2>ĐĂNG KÝ VAY TIÊU DÙNG (LIÊN HỆ NGAY SAU 30 PHÚT)</h2>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 paddingweb">

                            <div class="panel-cart-group">
                                <input type="text" name="name" class="form-control hovaten" value=""
                                    placeholder="Họ Và Tên(*)">
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12 paddingweb">

                            <div class="panel-cart-group">
                                <input type="text" name="coquan" class="form-control coquanhientai" value=""
                                    placeholder="Cơ Quan Hiện Tại">
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12 paddingweb">

                            <div class="panel-cart-group">
                                <input type="text" name="sodienthoai" class="form-control sodienthoai" value=""
                                    placeholder="Số Điện Thoại(*)">
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12 paddingweb">

                            <div class="panel-cart-group">
                                <input type="text" name="diachi" class="form-control diachi" value=""
                                    placeholder="Địa Chỉ(*)">
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12 paddingweb">

                            <div class="panel-cart-group">

                                <select class="form-control thunhaphangthang" name="thunhap">
                                    <option value="">Thu Nhập Hàng Tháng</option>
                                    <option value="Dưới 5 Triệu">Dưới 5 Triệu</option>
                                    <option value="5-10 Triệu">5-10 Triệu</option>
                                    <option value="10-15 Triệu">10-15 Triệu</option>
                                    <option value="15-20 Triệu">15-20 Triệu</option>
                                    <option value="Trên 20 Triệu">Trên 20 Triệu</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12 paddingweb">

                            <div class="panel-cart-group">
                                <input type="text" name="sotien" class="form-control sotienvay sotienvayhome" value=""
                                    placeholder="Số Tiền Cần Vay (*)" onkeypress="return isNumberKey(event)">
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12 paddingweb">

                            <div class="panel-cart-group">
                                <input type="text" name="socmnd" class="form-control socmnd" value=""
                                    placeholder="Số CMND (*)" onkeypress="return isNumberKey(event)">
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12 paddingweb">

                            <div class="panel-cart-group">
                                <input type="text" name="ngaysinh" class="form-control ngaysinh" value=""
                                    placeholder="Ngày Sinh (*)">
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-xs-12 paddingweb">

                            <div class="panel-cart-group">
                                <select class="form-control hinhthucnhanluong" name="hinhthuc">
                                    <option value="">Hình Thức Nhận Lương</option>
                                    <option value="Tiền Mặt">Tiền Mặt</option>
                                    <option value="Chuyển Khoản">Chuyển Khoản</option>

                                </select>
                            </div>
                        </div>

                        <div class="wrap-dangki-ngay-form">
                            <span class="clickdangkiform">Đăng Kí Ngay <i class="fa fa-angle-double-right"
                                    aria-hidden="true"></i></span>
                            <p class="dangchayhome" style="margin-top: 6px;display:none">Đang Đăng Kí, Quý Khách Đợi
                                Trong Giây Lát ...</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="wrap-bangtinh">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-text-vaytindung title-mr-70">
                    <h2>Thông tin tham khảo</h2>
                </div>
                <div class="wrap-thongtinbangtinh">
                    <div class="panel-cart-group">
                        <span class="panel-cart-text">Số Tiền Định Vay (triệu):</span>
                        <input type="text" name="sotien" class="form-control sotienvay sotienvaybt" value=""
                            placeholder="Số Tiền Cần Vay(*)" onkeypress="return isNumberKey(event)">
                    </div>
                </div>

                <div class="panel-cart-group">
                    <span class="panel-cart-text">Thời Hạn Vay:</span>
                    <select class="form-control thoihanvaybt" name="thoihanvay">

                        <option value="12">12 Tháng</option>
                        <option value="18">18 Tháng</option>
                        <option value="24">24 Tháng</option>
                        <option value="30">30 Tháng</option>
                        <option value="36">36 Tháng</option>
                        <option value="40">40 Tháng</option>
                        <option value="48">48 Tháng</option>
                        <option value="60">60 Tháng</option>
                    </select>
                </div>

                <div class="wrap-thongtinbangtinh">
                    <div class="panel-cart-group">
                        <span class="panel-cart-text">Hình Thức Thu Nhập:</span>
                        <div class="control-group">
                            <label class="control control--radio">Tiền Mặt
                                <input type="radio" name="hinhthucthunhap" checked="checked"
                                    class="clichhinhthucthunhap" value="0" />
                                <div class="control__indicator"></div>
                            </label>
                            <label class="control control--radio">Chuyển Khoản
                                <input type="radio" name="hinhthucthunhap" value="1" class="clichhinhthucthunhap" />
                                <div class="control__indicator"></div>
                            </label>
                            <div class="clear"></div>
                        </div>
                    </div>

                    <div class="panel-cart-group hidecongty">

                        <div class="control-group">
                            <label class="control control--radio">Công Ty Trên 2 Năm
                                <input type="radio" name="congty" checked="checked" class="clichhinhthuccongty"
                                    value="2" />
                                <div class="control__indicator"></div>
                            </label>
                            <label class="control control--radio">Công Ty Dưới 2 Năm
                                <input type="radio" name="congty" value="1" class="clichhinhthuccongty" />
                                <div class="control__indicator"></div>
                            </label>
                            <div class="clear"></div>
                        </div>
                    </div>

                    <div class="panel-cart-group showbangtinh">

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- tin tức -->
<div class="wrap-news-home">
    <div class="container group">
        <div class="row">
            <div class="title-text-vaytindung title-mr-70">
                <h2>TIN NỔI BẬT</h2>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 paddingweb ">
                <div class="blog-item">
                    <div class="blog-img">
                        <a
                            href="https://shinhanbankvay24h.com.vn/blog-tin/quy-khach-se-de-dang-tiep-can-goi-vay-cua-shinhan-bank-">
                            <img class="lazy"
                                data-original="https://shinhanbankvay24h.com.vn/upload/product/a249c6cb182ab86936dba6f1d289692e.jpg"
                                src="https://shinhanbankvay24h.com.vn/upload/news/a249c6cb182ab86936dba6f1d289692e.jpg"
                                alt="Quý khách sẽ dễ dàng tiếp cận gói vay của Shinhan Bank "
                                title="Quý khách sẽ dễ dàng tiếp cận gói vay của Shinhan Bank ">
                        </a>

                    </div>
                    <div class="blog-info">

                        <h3><a
                                href="https://shinhanbankvay24h.com.vn/blog-tin/quy-khach-se-de-dang-tiep-can-goi-vay-cua-shinhan-bank-">Quý
                                khách sẽ dễ dàng tiếp cận gói vay của ...</a></h3>
                        <p>Quý khách đang có nhu cầu Vay tiêu dùng Ngân hàng nhưng còn thắc mắc về Điều kiện ...</p>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 paddingweb ">
                <div class="blog-item">
                    <div class="blog-img">
                        <a
                            href="https://shinhanbankvay24h.com.vn/blog-tin/vay-tin-chap-ngan-hang-shinhan-bank-khong-the-chap-tai-san-lai-suat-thap-nhat-thi-truong">
                            <img class="lazy"
                                data-original="https://shinhanbankvay24h.com.vn/upload/product/ab03c4fdadadd4157f0073850ce3d832.png"
                                src="https://shinhanbankvay24h.com.vn/upload/news/ab03c4fdadadd4157f0073850ce3d832.png"
                                alt="Vay tín chấp ngân hàng Shinhan Bank không thế chấp tài sản, lãi suất thấp nhất thị trường."
                                title="Vay tín chấp ngân hàng Shinhan Bank không thế chấp tài sản, lãi suất thấp nhất thị trường.">
                        </a>

                    </div>
                    <div class="blog-info">

                        <h3><a
                                href="https://shinhanbankvay24h.com.vn/blog-tin/vay-tin-chap-ngan-hang-shinhan-bank-khong-the-chap-tai-san-lai-suat-thap-nhat-thi-truong">Vay
                                tín chấp ngân hàng Shinhan Bank không thế chấp ...</a></h3>
                        <p>Với mục đích đáp ứng nhu cầu vay tiêu dùng, không cần thế chấp tài sản hay người ...</p>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 paddingweb ">
                <div class="blog-item">
                    <div class="blog-img">
                        <a href="https://shinhanbankvay24h.com.vn/blog-tin/rut-tien-TTdung">
                            <img class="lazy"
                                data-original="https://shinhanbankvay24h.com.vn/upload/product/3b05f83f529e3602eef89682a41678db.jpg"
                                src="https://shinhanbankvay24h.com.vn/upload/news/3b05f83f529e3602eef89682a41678db.jpg"
                                alt="RÚT TIỀN MẶT THẺ TÍN DỤNG LÃI SUẤT ƯU ĐÃI 1.1% / THÁNG"
                                title="RÚT TIỀN MẶT THẺ TÍN DỤNG LÃI SUẤT ƯU ĐÃI 1.1% / THÁNG">
                        </a>

                    </div>
                    <div class="blog-info">

                        <h3><a href="https://shinhanbankvay24h.com.vn/blog-tin/rut-tien-TTdung">RÚT TIỀN MẶT THẺ TÍN
                                DỤNG LÃI SUẤT ƯU ĐÃI ...</a></h3>
                        <p>Rút Tiền Mặt Từ Thẻ Tín Dụng Với Hạn Mức 100%. Rút Tiền Mặt Thẻ Tín Dụng ...</p>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 paddingweb ">
                <div class="blog-item">
                    <div class="blog-img">
                        <a
                            href="https://shinhanbankvay24h.com.vn/blog-tin/vay-tin-chap--vay-tieu-dung-ngan-hang-shinhanbank">
                            <img class="lazy"
                                data-original="https://shinhanbankvay24h.com.vn/upload/product/a188add40d415a128d9b4ffbdb68f632.JPG"
                                src="https://shinhanbankvay24h.com.vn/upload/news/a188add40d415a128d9b4ffbdb68f632.JPG"
                                alt="Vay tín chấp - Vay tiêu dùng ngân hàng Shinhanbank."
                                title="Vay tín chấp - Vay tiêu dùng ngân hàng Shinhanbank.">
                        </a>

                    </div>
                    <div class="blog-info">

                        <h3><a
                                href="https://shinhanbankvay24h.com.vn/blog-tin/vay-tin-chap--vay-tieu-dung-ngan-hang-shinhanbank">Vay
                                tín chấp - Vay tiêu dùng ngân hàng Shinhanbank.</a></h3>
                        <p>Vay tín chấp tiêu dùng ngân hàng Shinhanbank. </p>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 paddingweb ">
                <div class="blog-item">
                    <div class="blog-img">
                        <a href="https://shinhanbankvay24h.com.vn/blog-tin/tung-bung-khai-truong-nhan-nghin-qua-tang">
                            <img class="lazy"
                                data-original="https://shinhanbankvay24h.com.vn/upload/product/bd6eaab62077069666f51a3d203f2f2a.jpg"
                                src="https://shinhanbankvay24h.com.vn/upload/news/bd6eaab62077069666f51a3d203f2f2a.jpg"
                                alt="Tưng bừng khai trương, nhận nghìn quà tặng"
                                title="Tưng bừng khai trương, nhận nghìn quà tặng">
                        </a>

                    </div>
                    <div class="blog-info">

                        <h3><a
                                href="https://shinhanbankvay24h.com.vn/blog-tin/tung-bung-khai-truong-nhan-nghin-qua-tang">Tưng
                                bừng khai trương, nhận nghìn quà tặng</a></h3>
                        <p>Tưng bừng khai trương, nhận nghìn quà tặng</p>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 paddingweb ">
                <div class="blog-item">
                    <div class="blog-img">
                        <a
                            href="https://shinhanbankvay24h.com.vn/blog-tin/thoa-trai-nghiem--hoan-trieu-diem-danh-cho-khach-hang-doanh-nghiep-hien-huu">
                            <img class="lazy"
                                data-original="https://shinhanbankvay24h.com.vn/upload/product/279cf4dee50aae9998c6ec8e87e25e59.jpg"
                                src="https://shinhanbankvay24h.com.vn/upload/news/279cf4dee50aae9998c6ec8e87e25e59.jpg"
                                alt="Thỏa trải nghiệm - Hoàn triệu điểm (Dành cho Khách hàng Doanh Nghiệp hiện hữu)"
                                title="Thỏa trải nghiệm - Hoàn triệu điểm (Dành cho Khách hàng Doanh Nghiệp hiện hữu)">
                        </a>

                    </div>
                    <div class="blog-info">

                        <h3><a
                                href="https://shinhanbankvay24h.com.vn/blog-tin/thoa-trai-nghiem--hoan-trieu-diem-danh-cho-khach-hang-doanh-nghiep-hien-huu">Thỏa
                                trải nghiệm - Hoàn triệu điểm (Dành cho Khách ...</a></h3>
                        <p>Tặng đến 5 triệu điểm thưởng dành cho Khách hàng Thẻ tín dụng Doanh nghiệp Shinhan</p>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 paddingweb ">
                <div class="blog-item">
                    <div class="blog-img">
                        <a
                            href="https://shinhanbankvay24h.com.vn/blog-tin/niem-tin-cua-nguoi-dung-lam-nen-suc-manh-cua-ngan-hang-shinhan">
                            <img class="lazy"
                                data-original="https://shinhanbankvay24h.com.vn/upload/product/34e6bd2320923ac2c0ef7e6189a20833.jpg"
                                src="https://shinhanbankvay24h.com.vn/upload/news/34e6bd2320923ac2c0ef7e6189a20833.jpg"
                                alt="Niềm tin của người dùng làm nên sức mạnh của Ngân hàng Shinhan"
                                title="Niềm tin của người dùng làm nên sức mạnh của Ngân hàng Shinhan">
                        </a>

                    </div>
                    <div class="blog-info">

                        <h3><a href="https://shinhanbankvay24h.com.vn/blog-tin/niem-tin-cua-nguoi-dung-lam-nen-suc-manh-cua-ngan-hang-shinhan">
                        Niềm tin của người dùng làm nên sức mạnh của ...</a></h3>
                        <p>Ngân hàng TNHH MTV Shinhan Việt Nam (Ngân hàng Shinhan) là một trong những ngân hàng nước
                            ngoài ...</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="wrap-footer-text group">
    <div class="container">
        <div class="row">
            <div class="title-text-vaytindung title-mr-70">
                <h2>TẠI SAO NÊN CHỌN TPBANK</h2>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 paddingweb">
                <div class="item equalize">
                    <span class="number">1</span>
                    <span class="title">HOÀN TOÀN MIỄN PHÍ</span>
                    <p class="text">
                        Tự do tìm kiếm, nhận tư vấn và đăng ký trực tuyến 100% miễn phí </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 paddingweb">
                <div class="item equalize">
                    <span class="number">2</span>
                    <span class="title">NHANH CHÓNG, TIỆN LỢI, NHIỀU ƯU ĐÃI</span>
                    <p class="text">
                        Đắng ký vay / Gửi tiết kiệm / Mở thẻ trực tuyến nhanh chóng </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 paddingweb">
                <div class="item equalize">
                    <span class="number">3</span>
                    <span class="title">CHUYÊN NGHIỆP TUYỆT ĐỐI</span>
                    <p class="text">
                        Dịch vụ chuyên nghiệp từ các chuyên gia tài chính </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="header-border-bottom">

</div>
<footer class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="block-subscribe">
                    <h3 class="widget-title">Giới Thiệu</h3>
                    <p>
                    <p>24C Phan Đăng Lưu, Phường 6, Quận Bình Thạnh, HCM</p>
                    <p>Hotline: 0707183645</p>
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <h3 class="widget-title">SẢN PHẨM DỊCH VỤ SHINHANBANK</h3>
                <ul>
                    <li><a href="https://shinhanbankvay24h.com.vn/tien-ich/vay-tieu-dung-">Vay Tiêu Dùng </a></li>
                    <li><a href="https://shinhanbankvay24h.com.vn/tien-ich/the-tin-dung-shinhanbank-">thẻ tín dụng
                            shinhanbank </a></li>
                    <li><a href="https://shinhanbankvay24h.com.vn/tien-ich/vay-the-chap-nha-dat">Vay Thế Chấp Nhà
                            đất</a></li>
                    <li><a href="https://shinhanbankvay24h.com.vn/tien-ich/ho-tro-cong-nhan-va-tu-doanh">Hỗ Trợ Công
                            Nhân và Tự Doanh</a></li>

                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h3 class="widget-title">Nhận Tin Khuyến Mãi</h3>
                <div class="tagcloud">
                    <input type="text" class="form-control textdangki" name="email" placeholder="Vui Lòng Nhập Email"
                        style="margin-bottom: 5px">
                    <button type="button" class="btn btn-common clickdangki">Đăng Kí</button>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <h3 class="widget-title">Kết Nối Với Chúng Tôi</h3>
                <div class="fb-page"
                    data-href="https://www.facebook.com/H%E1%BB%97-tr%E1%BB%A3-vay-v%E1%BB%91n-ng%C3%A2n-h%C3%A0ng-100428818344689"
                    data-tabs="timeline" data-height="120" data-small-header="false" data-adapt-container-width="true"
                    data-hide-cover="false" data-show-facepile="true">
                    <blockquote
                        cite="https://www.facebook.com/H%E1%BB%97-tr%E1%BB%A3-vay-v%E1%BB%91n-ng%C3%A2n-h%C3%A0ng-100428818344689"
                        class="fb-xfbml-parse-ignore"><a
                            href="https://www.facebook.com/H%E1%BB%97-tr%E1%BB%A3-vay-v%E1%BB%91n-ng%C3%A2n-h%C3%A0ng-100428818344689">Facebook</a>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="website" style="    background-color: #f1f1f1;color:#1b1b1b;font-size: 15px;padding: 7px 0px;">
    <div class="container">
        <div class="row">
            Bản Quyền Thuộc Về shinhanbankvay24h.com.vn | Cung Cấp Bởi Hodyweb.com
        </div>

    </div>
</div>
<div class="modal fade" id="modalsanpham" tabindex="-1" role="dialog" aria-labelledby="demoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg  " role="document">
        <div class="modal-content" style="padding-bottom: 17px;">

            <div class="container-fluid">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">

                    <div class="wrap-ajax-sanpham" style="padding: 22px 18px;">
                        <div class="show-ajax-sanpham">

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalgiohang" tabindex="-1" role="dialog" aria-labelledby="demoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg  " role="document">
        <div class="modal-content">

            <div class="container-fluid">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">

                    <div class="wrap-giohang">
                        <p class="dangloadgh" style="background-color: #00a08a;color: white;padding: 13px 15px;">Sản
                            Phẩm Đã Thêm Vào Giỏ Hàng</p>

                        <div class="show-ajax-giohang">



                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modaldangki" tabindex="-1" role="dialog" aria-labelledby="demoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg  " role="document">
        <div class="modal-content">

            <div class="container-fluid">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    <div class="title-text-vaytindung" style="margin-top: 30px;">
                        <h2>Đăng Kí Vay Tiêu Dùng</h2>
                        <form method="post" class="formdangki">
                            <div class="wrap-modal-vaytieudung">
                                <div class="panel-cart-group">
                                    <span class="panel-cart-text">Họ Và Tên (*):</span>
                                    <input type="text" name="name" class="form-control hovatenmodal" value=""
                                        placeholder="Họ Và Tên(*)" required>
                                </div>

                                <div class="panel-cart-group">
                                    <span class="panel-cart-text">Cơ Quan Hiện Tại:</span>
                                    <input type="text" name="coquan" class="form-control coquanhientaimodal" value=""
                                        placeholder="Cơ Quan Hiện Tại">
                                </div>

                                <div class="panel-cart-group">
                                    <span class="panel-cart-text">Số Điện Thoại (*):</span>
                                    <input type="text" name="sodienthoai" class="form-control sodienthoaimodal" value=""
                                        placeholder="Số Điện Thoại(*)">
                                </div>

                                <div class="panel-cart-group">
                                    <span class="panel-cart-text">Địa Chỉ (*):</span>
                                    <input type="text" name="diachi" class="form-control diachimodal" value=""
                                        placeholder="Địa Chỉ">
                                </div>

                                <div class="panel-cart-group">
                                    <span class="panel-cart-text">Thu Nhập Hàng Tháng:</span>
                                    <select class="form-control thunhaphangthang" name="thunhap">
                                        <option value="">Thu Nhập Hàng Tháng</option>
                                        <option value="Dưới 5 Triệu">Dưới 5 Triệu</option>
                                        <option value="5-10 Triệu">5-10 Triệu</option>
                                        <option value="10-15 Triệu">10-15 Triệu</option>
                                        <option value="15-20 Triệu">15-20 Triệu</option>
                                        <option value="Trên 20 Triệu">Trên 20 Triệu</option>
                                    </select>
                                </div>

                                <div class="panel-cart-group">
                                    <span class="panel-cart-text">Số Tiền Cần Vay (*):</span>
                                    <input type="text" name="sotien" class="form-control sotienvay sotienvaymotmodal"
                                        value="" placeholder="Số Tiền Cần Vay(*)"
                                        onkeypress="return isNumberKey(event)">
                                </div>

                                <div class="panel-cart-group">
                                    <span class="panel-cart-text">Số CMND (*):</span>
                                    <input type="text" name="socmnd" class="form-control socmndmodal" value=""
                                        placeholder="Số CMND(*)" onkeypress="return isNumberKey(event)">
                                </div>

                                <div class="panel-cart-group">
                                    <span class="panel-cart-text">Ngày Sinh (*):</span>
                                    <input type="text" name="ngaysinh" class="form-control ngaysinhmodal" value=""
                                        placeholder="Ngày Sinh(*)">
                                </div>

                                <div class="panel-cart-group">
                                    <span class="panel-cart-text">Hình Thức Nhận Lương (*):</span>
                                    <select class="form-control hinhthucnhanluongmodal" name="hinhthuc">
                                        <option value="">Hình Thức Nhận Lương</option>
                                        <option value="Tiền Mặt">Tiền Mặt</option>
                                        <option value="Chuyển Khoản">Chuyển Khoản</option>

                                    </select>
                                </div>

                                <div class="wrap-dangki-ngay-form">
                                    <span class="clickdangkiformmodal">Đăng Kí Ngay <i class="fa fa-angle-double-right"
                                            aria-hidden="true"></i></span>
                                    <p class="dangchaydkmodal" style="margin-top: 6px;display:none">Đang Đăng Kí, Quý
                                        Khách Đợi Trong Giây Lát ...</p>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalthongbao" tabindex="-1" role="dialog" aria-labelledby="demoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg  " role="document">
        <div class="modal-content">

            <div class="container-fluid">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">

                    <div class="wrap-giohang">
                        <p class="dangloadgh"
                            style="background-color: #482368;color: white;padding: 13px 15px;font-size: 18px;">Thông Báo
                        </p>

                        <div class="show-ajax-thongbao">

                            <p class="icon"><i class="fa fa-check-circle" aria-hidden="true"></i></p>
                            <p class="text">Đăng Kí Thành Công</p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div><a href="#" class="back-to-top">
    <i class="icon-arrow-up"></i>
</a>

<!--phone-->
<div class="box-tool-utilities">
    <a class="buttons tootip" href="tel:0707183645">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <span class="tooltip-contact tooltip-phone"><strong>0707183645</strong></span>
    </a>
    <a class="buttons tootip" href="mailto:vayshinhanbankvn@gmail.com" rel="nofollow" target=”_blank”>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <span class="tooltip-contact tooltip-mail"><strong>vayshinhanbankvn@gmail.com</strong></span>
    </a>
    <a class="buttons tootip"
        href="https://www.facebook.com/H%E1%BB%97-tr%E1%BB%A3-vay-v%E1%BB%91n-ng%C3%A2n-h%C3%A0ng-100428818344689"
        rel="nofollow" target=”_blank”>
        <i class="fa fa-facebook-official" aria-hidden="true"></i>
        <span class="tooltip-contact tooltip-mail"><strong>Chat Facebook</strong></span>
    </a>
</div>
<!-- end-->