<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb">
                  <!-- <a href=""><i class="icon-home"></i> Trang Chủ</a>
                   <span class="crumbs-spacer"><i class="fa fa-angle-double-right"></i></span>
                   <a href=""> Trang mữ</a>
                   <span class="crumbs-spacer"><i class="fa fa-angle-double-right"></i></span>
                   <span class="current">Thời Trang Nam</span>  -->
                   <a href="/home"><i class="icon-home"></i> Trang Chủ</a>
                                       <span class="crumbs-spacer"><i class="fa fa-angle-double-right"></i></span>
                   <span class="current">Tin Tức</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-bottom: 17px;background-color: white;padding: 3px;">
         <div class="wrapnews" idnews="56" idshowqc="1">
<div class="row">
   <div class="col-lg-9">
       <div class="post-content rsimg">
            <h1 class="post-title"><a href="#">RÚT TIỀN MẶT THẺ TÍN DỤNG LÃI SUẤT ƯU ĐÃI 1.1% / THÁNG</a></h1>
            
            <div class="meta">
            <span class="meta-part"><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Admin</a></span>
            <span class="meta-part"><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>  16-09-2020</a></span>
            </div>
            
			<div class="intro-news">
			   Ngân hàng TNHH MTV Shinhan Việt Nam (Ngân hàng Shinhan) là một trong những ngân hàng nước ngoài đầu tiên có mặt tại Việt Nam.  
			</div>
            <div class="wrapcontent">
              
               <p>Ngân hàng TNHH MTV Shinhan Việt Nam (Ngân hàng Shinhan) là một trong những ngân hàng nước ngoài đầu tiên có mặt tại Việt Nam.</p>
<p>Ngân hàng Shinhan là đối tác tài chính uy tín được người Việt tin chọn trong nhiều năm qua</p>
<p> </p>
<p>Sau 26 năm hoạt động tại thị trường này, Ngân hàng Shinhan đã chinh phục được niềm tin của hàng triệu người dùng Việt và đạt được nhiều thành tựu đáng tự hào.</p>
<p><strong>Giữ vị thế dẫn đầu trong nhóm các ngân hàng ngoại</strong></p>
<p>Những năm qua, thị trường trong nước chứng kiến nhiều biến động của các tổ chức tài chính nước ngoài, khi không ít trường hợp ngân hàng ngoại rút lui hoặc thu hẹp đầu tư tại Việt Nam. Đi ngược với xu thế này, Ngân hàng Shinhan là một trong số ít các ngân hàng nước ngoài liên tục gặt hái thành công và chiếm được thiện cảm của khách hàng Việt.</p>
<p>Cụ thể, doanh thu và số lượng khách hàng tại Việt Nam của ngân hàng đến từ Hàn Quốc này đang trên đà tăng trưởng mạnh mẽ. Cuối năm 2018, tổng tài sản của Ngân hàng Shinhan đạt đến 3.604 triệu USD, trong đó, lợi nhuận ròng đạt 72,5 triệu USD, giúp Shinhan giữ vị trí ngân hàng nước ngoài đứng thứ hai tại Việt Nam về quy mô tài sản và vốn chủ sở hữu, đồng thời dẫn đầu về tỷ suất lợi nhuận trong nhóm các ngân hàng nước ngoài. Đến nay, Ngân hàng Shinhan đã mở rộng ra 32 chi nhánh trên khắp cả nước, phục vụ cho các nhu cầu tài chính của hàng triệu người Việt.</p>
<p>Năm 2018, Ngân hàng Shinhan vinh dự nhận giải thưởng “Đơn vị dẫn đầu về Tăng trưởng doanh số giao dịch thương mại điện tử và Tăng trưởng doanh số thanh toán thẻ” từ Tổ chức Thẻ Quốc tế Visa. Cũng trong năm này, Shinhan được Hiệp hội Doanh nghiệp châu Á trao tặng giải thưởng “Kinh doanh xuất sắc châu Á 2018”, trong lĩnh vực Tài chính – Ngân hàng. Phải nói thêm rằng không nhiều doanh nghiệp đạt được đồng thời cả 3 tiêu chí chính của giải thưởng danh giá này, bao gồm: hiệu quả hoạt động, xuất hiện thường xuyên trên các phương tiện truyền thông và đặc biệt phải là thương hiệu có được lòng yêu mến của công chúng.<img src="/public/image/hinh%201.jpg" alt="" width="660" height="440" /></p>
<p>Ngân hàng Shinhan được Tổ chức Thẻ Quốc tế Visa trao tặng giải thưởng “Đơn vị dẫn đầu về Tăng trưởng doanh số giao dịch thương mại điện tử và Tăng trưởng doanh số thanh toán thẻ”</p>
<p>Ngân hàng Shinhan được Tổ chức Thẻ Quốc tế Visa trao tặng giải thưởng “Đơn vị dẫn đầu về Tăng trưởng doanh số giao dịch thương mại điện tử và Tăng trưởng doanh số thanh toán thẻ”</p>
<p><strong>Lấy khách hàng làm trọng tâm</strong></p>
<p>Sự thành công vượt mong đợi của Ngân hàng Shinhan đến từ chiến lược lấy khách hàng làm trọng tâm. Trong suốt 26 năm hoạt động tại Việt Nam, Shinhan không ngừng sáng tạo và nỗ lực mang đến những giá trị mới cho khách hàng thông qua việc nâng cao chất lượng dịch vụ, xây dựng đội ngũ nhân sự chất lượng, hoàn thiện danh mục sản phẩm tài chính ngân hàng, mở rộng chi nhánh và phòng giao dịch…</p>
<p>Không chỉ chú trọng đầu tư về mạng lưới để tiếp cận được nhiều khách hàng ở các tỉnh thành và giúp khách hàng thuận tiện hơn trong giao dịch, Ngân hàng Shinhan còn đẩy mạnh hợp tác với những đối tác công nghệ tài chính tại Việt Nam như Momo, Zalo, Moca, VnPay, Payoo, FPT… nhằm tập trung triển khai các dịch vụ ngân hàng số, đáp ứng nhu cầu đa dạng của khách hàng. Gần đây, Ngân hàng Shinhan liên tục giới thiệu đến người dùng nhiều sản phẩm dịch vụ tiện ích, điển hình như ứng dụng Mobile Banking SOL hay dịch vụ vay tiêu dùng cá nhân trên ứng dụng Zalo với hàng loạt tính năng ưu việt.</p>
<p>Niềm tin của khách hàng là yếu tố then chốt làm nên sức mạnh của Ngân hàng Shinhan</p>
<p><img src="/public/image/home2.jpg" alt="" width="774" height="510" /></p>
<p>“Khách hàng sử dụng các dịch vụ tài chính ngân hàng ngày càng yêu cầu cao hơn về chất lượng dịch vụ. Xuất phát từ thực tế này, Ngân hàng Shinhan đã và đang tiếp tục đầu tư vào hạ tầng công nghệ như thực hiện nâng cấp hệ thống ngân hàng lõi (core banking), hệ thống chấm điểm tín dụng, hệ thống xác thực khách hàng, hệ thống phân tích dữ liệu… Đồng thời, chúng tôi cũng áp dụng các công nghệ mới như Big Data, AI, Open API… nhằm xây dựng hệ sinh thái ngân hàng số, với khách hàng là trung tâm”, ông Shin Dong Min, Tổng giám đốc của Ngân hàng Shinhan tại Việt Nam, chia sẻ.</p>
<p>Với chiến lược trở thành ngân hàng kỹ thuật số hàng đầu tại Việt Nam, Shinhan sẽ tiếp tục đầu tư, phát triển công nghệ nhằm mang lại sự hài lòng và trải nghiệm tiện lợi, bảo mật nhất cho khách hàng.</p>
<p>Là ngân hàng có tiềm lực tài chính vững mạnh và nền tảng công nghệ số hàng đầu từ Hàn Quốc, trong suốt chặng đường phát triển 26 năm tại Việt Nam, Ngân hàng Shinhan luôn đồng nhất hóa các dịch vụ khách hàng của mình theo tiêu chuẩn quốc tế, đề cao tính minh bạch và tiện lợi, thủ tục đơn giản và ứng dụng công nghệ hiện đại. Chính điều đó đã tạo nên niềm tin và sự an tâm của khách hàng Việt khi đồng hành cùng Ngân hàng Shinhan. Hiện nay, Shinhan vẫn đang tiếp tục giữ vững ngôi vị là một trong những ngân hàng nước ngoài lớn nhất tại Việt Nam về quy mô tài sản và vốn chủ sở hữu.</p>
<p><strong>Nguồn: Báo Thanh Niên</strong></p>
<p> </p><div class='showquangcaogiua'></div>              
            </div>
            
            
       </div>
   </div>
   
   <div class="col-lg-3">
    <div class="widget-ct widget-categories mb-30" style="margin-top: 15px;">
    <div class="widget-s-title">
    <h4>SẢN PHẨM DỊCH VỤ</h4>
    </div>
    <ul id="accordion-category" class="product-cat">
          <li><a href="/vay-tieu-dung">Vay Tiêu Dùng </a></li>
         <li><a href="/the-tin-dung-shinhanbank">thẻ tín dụng shinhanbank </a></li>
         <li><a href="/vay-the-chap-nha-dat">Vay Thế Chấp Nhà đất</a></li>
         <li><a href="/ho-tro-cong-nhan-va-tu-doanh">Hỗ Trợ Công Nhân và Tự Doanh</a></li>
       
    </ul>
</div>
       <!-- new -->
         <div class="title-news">Tin Liên Quan</div>
    <div class="aside-content">
         			<div class="blog-list blog-image-list">
				
				<div class="loop-blog">
					<div class="thumb-left">
						<a href="/vay-tin-chap-vay-tieu-dung">
	                           <img src="/public/image/a188add40d415a128d9b4ffbdb68f632.JPG" style="max-width:100%;" class="img-responsive" title="Vay tín chấp - Vay tiêu dùng ngân hàng Shinhanbank." alt="Vay tín chấp - Vay tiêu dùng ngân hàng Shinhanbank.">
					     </a>
				    </div>
				   <div class="name-right">
							<h3><a href="/vay-tin-chap-vay-tieu-dung" title="Vay tín chấp - Vay tiêu dùng ngân hàng Shinhanbank.">Vay tín chấp - Vay tiêu dùng ngân hà...</a></h3>
							<div class="date"><i class="fa fa-clock-o"></i> 09-09-2020</div>
											
				</div>
			</div>
	
		</div>
		<div class="clear"></div>
					<div class="blog-list blog-image-list">
				
				<div class="loop-blog">
					<div class="thumb-left">
						<a href="/quy-khach-se-de-dang">
	                           <img src="/public/image/a249c6cb182ab86936dba6f1d289692e.jpg" style="max-width:100%;" class="img-responsive" title="Quý khách sẽ dễ dàng tiếp cận gói vay của Shinhan Bank " alt="Quý khách sẽ dễ dàng tiếp cận gói vay của Shinhan Bank ">
					     </a>
				    </div>
				   <div class="name-right">
							<h3><a href="/quy-khach-se-de-dang" title="Quý khách sẽ dễ dàng tiếp cận gói vay của Shinhan Bank ">Quý khách sẽ dễ dàng tiếp cận gói va...</a></h3>
							<div class="date"><i class="fa fa-clock-o"></i> 16-09-2020</div>
											
				</div>
			</div>
	
		</div>
		<div class="clear"></div>
					<div class="blog-list blog-image-list">
				
				<div class="loop-blog">
					<div class="thumb-left">
						<a href="/tung-bung-khai-truong">
	                           <img src="/public/image/bd6eaab62077069666f51a3d203f2f2a.jpg" style="max-width:100%;" class="img-responsive" title="Tưng bừng khai trương, nhận nghìn quà tặng" alt="Tưng bừng khai trương, nhận nghìn quà tặng">
					     </a>
				    </div>
				   <div class="name-right">
							<h3><a href="/tung-bung-khai-truong" title="Tưng bừng khai trương, nhận nghìn quà tặng">Tưng bừng khai trương, nhận nghìn qu...</a></h3>
							<div class="date"><i class="fa fa-clock-o"></i> 06-10-2020</div>
											
				</div>
			</div>
	
		</div>
		<div class="clear"></div>
					<div class="blog-list blog-image-list">
				
				<div class="loop-blog">
					<div class="thumb-left">
						<a href="/thoa-trai-nghiem">
	                           <img src="/public/image/279cf4dee50aae9998c6ec8e87e25e59.jpg" style="max-width:100%;" class="img-responsive" title="Thỏa trải nghiệm - Hoàn triệu điểm (Dành cho Khách hàng Doanh Nghiệp hiện hữu)" alt="Thỏa trải nghiệm - Hoàn triệu điểm (Dành cho Khách hàng Doanh Nghiệp hiện hữu)">
					     </a>
				    </div>
				   <div class="name-right">
							<h3><a href="/thoa-trai-nghiem">Thỏa trải nghiệm - Hoàn triệu điểm (...</a></h3>
							<div class="date"><i class="fa fa-clock-o"></i> 06-10-2020</div>
											
				</div>
			</div>
	
		</div>
		<div class="clear"></div>
					<div class="blog-list blog-image-list">
				
				<div class="loop-blog">
					<div class="thumb-left">
						<a href="/vay-tin-chap">
	                           <img src="/public/image/ab03c4fdadadd4157f0073850ce3d832.jpg" style="max-width:100%;" class="img-responsive" title="Vay tín chấp ngân hàng Shinhan Bank không thế chấp tài sản, lãi suất thấp nhất thị trường." alt="Vay tín chấp ngân hàng Shinhan Bank không thế chấp tài sản, lãi suất thấp nhất thị trường.">
					     </a>
				    </div>
				   <div class="name-right">
							<h3><a href="/vay-tin-chap" title="Vay tín chấp ngân hàng Shinhan Bank không thế chấp tài sản, lãi suất thấp nhất thị trường.">Vay tín chấp ngân hàng Shinhan Bank ...</a></h3>
							<div class="date"><i class="fa fa-clock-o"></i> 09-09-2020</div>
											
				</div>
			</div>
	
		</div>
		<div class="clear"></div>
					<div class="blog-list blog-image-list">
				
				<div class="loop-blog">
					<div class="thumb-left">
						<a href="/rut-tien-td">
	                           <img src="/public/image/3b05f83f529e3602eef89682a41678db.jpg" style="max-width:100%;" class="img-responsive" title="RÚT TIỀN MẶT THẺ TÍN DỤNG LÃI SUẤT ƯU ĐÃI 1.1% / THÁNG" alt="RÚT TIỀN MẶT THẺ TÍN DỤNG LÃI SUẤT ƯU ĐÃI 1.1% / THÁNG">
					     </a>
				    </div>
				   <div class="name-right">
							<h3><a href="/rut-tien-td" title="RÚT TIỀN MẶT THẺ TÍN DỤNG LÃI SUẤT ƯU ĐÃI 1.1% / THÁNG">RÚT TIỀN MẶT THẺ TÍN DỤNG LÃI SUẤT Ư...</a></h3>
							<div class="date"><i class="fa fa-clock-o"></i> 08-06-2020</div>
											
				</div>
			</div>
	
		</div>
		<div class="clear"></div>
		  </div>
      <!-- end -->
   
   </div>
   
   
</div>
</div>
     </div>
         
		 
 
<div class="wrap-footer-text group">
   <div class="container">
      <div class="row">
	     <div class="title-text-vaytindung title-mr-70">
			        <h2>TẠI SAO NÊN CHỌN SHINHANBANK</h2>
			     </div>
				 <div class="col-md-4 col-sm-6 col-xs-12 paddingweb">
		   <div class="item equalize">
		      <span class="number">1</span>
			  <span class="title">HOÀN TOÀN MIỄN PHÍ</span>
			  <p class="text">
                    Tự do tìm kiếm, nhận tư vấn và đăng ký trực tuyến 100% miễn phí                </p>
			</div>
		 </div>
		  		 <div class="col-md-4 col-sm-6 col-xs-12 paddingweb">
		   <div class="item equalize">
		      <span class="number">2</span>
			  <span class="title">NHANH CHÓNG, TIỆN LỢI, NHIỀU ƯU ĐÃI</span>
			  <p class="text">
                    Đắng ký vay / Gửi tiết kiệm / Mở thẻ trực tuyến nhanh chóng                </p>
			</div>
		 </div>
		  		 <div class="col-md-4 col-sm-6 col-xs-12 paddingweb">
		   <div class="item equalize">
		      <span class="number">3</span>
			  <span class="title">CHUYÊN NGHIỆP TUYỆT ĐỐI</span>
			  <p class="text">
                    Dịch vụ chuyên nghiệp từ các chuyên gia tài chính                </p>
			</div>
		 </div>
		  	  </div>
   </div>
</div>
<div class="header-border-bottom">
 
</div>
<footer class="section">
<div class="container">
<div class="row">
<div class="col-md-3 col-sm-6">
<div class="block-subscribe">
<h3 class="widget-title">Giới Thiệu</h3>
<p>
<p>Hotline: 0707183645</p></p>
</div>
</div>
<div class="col-md-3 col-sm-6">
<h3 class="widget-title">SẢN PHẨM DỊCH VỤ SHINHANBANK</h3>
<ul>
      <li><a href="/vay-tieu-dung">Vay Tiêu Dùng </a></li>
     <li><a href="/the-tin-dung-shinhanbank">thẻ tín dụng shinhanbank </a></li>
     <li><a href="/vay-the-chap-nha-dat">Vay Thế Chấp Nhà đất</a></li>
     <li><a href="/ho-tro-cong-nhan-va-tu-doanh">Hỗ Trợ Công Nhân và Tự Doanh</a></li>
   
</ul>
  </div>
<div class="col-md-3 col-sm-6">
<h3 class="widget-title">Nhận Tin Khuyến Mãi</h3>
<div class="tagcloud">
      <input type="text" class="form-control textdangki" name="email" placeholder="Vui Lòng Nhập Email" style="margin-bottom: 5px">
      <button type="button" class="btn btn-common clickdangki">Đăng Kí</button>
</div>
</div>
</div>
</div>
</footer>
<div class="website" style="    background-color: #f1f1f1;color:#1b1b1b;font-size: 15px;padding: 7px 0px;">
<div class="container">
    <div class="row">
        Bản Quyền Thuộc Về shinhanbankvay24h.com.vn | Cung Cấp Bởi Hodyweb.com
    </div>
    
</div>
</div>
 <div class="modal fade"  id="modalsanpham"  tabindex="-1" role="dialog" aria-labelledby="demoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg  " role="document">
        <div class="modal-content" style="padding-bottom: 17px;">

            <div class="container-fluid">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    
                      <div class="wrap-ajax-sanpham" style="padding: 22px 18px;">
                              <div class="show-ajax-sanpham">
                                   
                              </div>
                          
                      </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
 <div class="modal fade"  id="modalgiohang"  tabindex="-1" role="dialog"
     aria-labelledby="demoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg  " role="document">
        <div class="modal-content">

            <div class="container-fluid">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    
                      <div class="wrap-giohang">
                          <p class="dangloadgh" style="background-color: #00a08a;color: white;padding: 13px 15px;">Sản Phẩm Đã Thêm Vào Giỏ Hàng</p>
                          
                              <div class="show-ajax-giohang">
                                 
                                   
                                 
                              </div>
                          
                      </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>

 
 <div class="modal fade"  id="modaldangki"  tabindex="-1" role="dialog"
     aria-labelledby="demoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg  " role="document">
        <div class="modal-content">

            <div class="container-fluid">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                   <div class="title-text-vaytindung" style="margin-top: 30px;">
			        <h2>Đăng Kí Vay Tiêu Dùng</h2>
					<form method="post" class="formdangki">
					<div class="wrap-modal-vaytieudung">
						<div class="panel-cart-group">
							<span class="panel-cart-text">Họ Và Tên (*):</span>
							<input type="text" name="name" class="form-control hovatenmodal" value="" placeholder="Họ Và Tên(*)" required>
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Cơ Quan Hiện Tại:</span>
							<input type="text" name="coquan" class="form-control coquanhientaimodal" value="" placeholder="Cơ Quan Hiện Tại">
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Số Điện Thoại (*):</span>
							<input type="text" name="sodienthoai" class="form-control sodienthoaimodal" value="" placeholder="Số Điện Thoại(*)">
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Địa Chỉ (*):</span>
							<input type="text" name="diachi" class="form-control diachimodal" value="" placeholder="Địa Chỉ">
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Thu Nhập Hàng Tháng:</span>
							<select class="form-control thunhaphangthang" name="thunhap">
                                 <option value="">Thu Nhập Hàng Tháng</option>
                                 <option value="Dưới 5 Triệu">Dưới 5 Triệu</option>
                                 <option value="5-10 Triệu">5-10 Triệu</option>	
                                 <option value="10-15 Triệu">10-15 Triệu</option>
                                 <option value="15-20 Triệu">15-20 Triệu</option>
                                 <option value="Trên 20 Triệu">Trên 20 Triệu</option>								 
                            </select>
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Số Tiền Cần Vay (*):</span>
							<input type="text" name="sotien" class="form-control sotienvay sotienvaymotmodal" value="" placeholder="Số Tiền Cần Vay(*)" onkeypress="return isNumberKey(event)">
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Số CMND (*):</span>
							<input type="text" name="socmnd" class="form-control socmndmodal" value="" placeholder="Số CMND(*)" onkeypress="return isNumberKey(event)">
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Ngày Sinh (*):</span>
							<input type="text" name="ngaysinh" class="form-control ngaysinhmodal" value="" placeholder="Ngày Sinh(*)">
						</div>
						
						<div class="panel-cart-group">
						<span class="panel-cart-text">Hình Thức Nhận Lương (*):</span>
						<select class="form-control hinhthucnhanluongmodal" name="hinhthuc">
                                 <option value="">Hình Thức Nhận Lương</option>
                                 <option value="Tiền Mặt">Tiền Mặt</option>
                                 <option value="Chuyển Khoản">Chuyển Khoản</option>	
                                 						 
                         </select>
				       </div>
						
						<div class="wrap-dangki-ngay-form">
				           <span class="clickdangkiformmodal">Đăng Kí Ngay <i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
		                   <p class="dangchaydkmodal" style="margin-top: 6px;display:none">Đang Đăng Kí, Quý Khách Đợi Trong Giây Lát ...</p>
						 </div>
						
					</div>
					</form>
			     </div>
                </div>
            </div>
        </div>
    </div>
</div> <div class="modal fade"  id="modalthongbao"  tabindex="-1" role="dialog"
     aria-labelledby="demoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg  " role="document">
        <div class="modal-content">

            <div class="container-fluid">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    
                      <div class="wrap-giohang">
                          <p class="dangloadgh" style="background-color: #482368;color: white;padding: 13px 15px;font-size: 18px;">Thông Báo</p>
                          
                              <div class="show-ajax-thongbao">
                                 
                                    <p class="icon"><i class="fa fa-check-circle" aria-hidden="true"></i></p>
                                    <p class="text">Đăng Kí Thành Công</p>
                              </div>
                          
                      </div>
                   
                </div>
            </div>
        </div>
    </div>
</div><a href="#" class="back-to-top">
<i class="fa fa-arrow-up" aria-hidden="true"></i>
</a>