<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb">
                  <!-- <a href=""><i class="fa fa-home" aria-hidden="true"></i> Trang Chủ</a>
                   <span class="crumbs-spacer"><i class="fa fa-angle-double-right"></i></span>
                   <a href=""> Trang mữ</a>
                   <span class="crumbs-spacer"><i class="fa fa-angle-double-right"></i></span>
                   <span class="current">Thời Trang Nam</span>  -->
                   <a href="/home"><i class="fa fa-home" aria-hidden="true"></i> Trang Chủ</a>
                                       <span class="crumbs-spacer"><i class="fa fa-angle-double-right"></i></span>
                   <span class="current">Tin Tức</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-bottom: 17px;background-color: white;padding: 3px;">
         <div class="wrapnews" idnews="56" idshowqc="1">
<div class="row">
   <div class="col-lg-9">
       <div class="post-content rsimg">
            <h1 class="post-title"><a href="#">Quý khách sẽ dễ dàng tiếp cận gói vay của Shinhan Bank </a></h1>
            
            <div class="meta">
            <span class="meta-part"><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Admin</a></span>
            <span class="meta-part"><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>  16-09-2020</a></span>
            </div>
            
				<div class="intro-news">
			   Quý khách đang có nhu cầu Vay tiêu dùng Ngân hàng nhưng còn thắc mắc về Điều kiện vay, Hồ sơ và Lãi suất vay? Quý khách đang cần tìm một Ngân hàng Uy tín như Shinhan Bank để vay vốn? Hãy để các Chuyên viên Tín dụng của chúng tôi hỗ trợ bạn nhé!  
			</div>
            <div class="wrapcontent">
              
               <p>Quý khách sẽ dễ dàng tiếp cận gói vay của <strong>Shinhan Bank</strong> <strong><em>(ANZ)</em></strong> với Điều kiện vay dễ dàng, thời gian giải ngân nhanh chóng sau một cú click <a href="/home"><strong><em>Đăng ký.</em></strong></a></p>
<p>Quý khách có thể tham khảo qua về bảng lãi suất <strong>Shinhan Bank</strong></p>
<h3><img class=" wp-image-1011 aligncenter" src="/public/image/L%C3%A3i-su%E1%BA%A5t-Vay-tieu-dug-Shinhan-Bank.png" alt="" width="627" height="147" loading="lazy" /></h3>
<blockquote>
<h3>Với khoản Vay tiêu dùng Shinhan, khả năng chi tiêu của bạn sẽ được nâng lên tầm cao mới!</h3>
</blockquote>
<ul>
<li>Khách hàng làm việc trực tiếp với <em><strong>Chuyên viên Tín dụng Ngân hàng, </strong></em> không qua trung gian.</li>
<li>Không thế chấp tài sản.</li>
<li>Khoản vay từ<strong> 50 đến 500 triệu</strong>, kỳ hạn vay linh hoạt từ <strong>12-60 tháng</strong>.</li>
<li>Lãi suất ưu đãi chỉ từ <strong>0.73% đến 1.1% tháng </strong>( từ 16-22% năm theo Dư nợ giảm dần).</li>
<li>Bảo mật thông tin Khách hàng 100%. <strong><em>Chỉ thẩm định qua điện thoại</em></strong></li>
<li><strong><em>Miễn phí Bảo hiểm khoản vay</em></strong></li>
<li>Đang có khoản vay tiêu dùng của ngân hàng khác vẫn được hỗ trợ vay thêm.</li>
</ul>
<p><a href="/home"><img class="aligncenter wp-image-736 size-full" src="public/image/dbce775e4857ae09f746.jpg" alt="" width="300" height="112" loading="lazy" /></a></p>
<ul>
<li>Để tiết kiệm <em>Thời gian</em>, một số thông tin như <em>Chứng minh Nhân dân, Hợp đồng Lao động</em> để Nhân viên kiểm tra trước trên Hệ thống Ngân hàng là rất cần thiết.</li>
<li>Với trường hợp khách chưa đủ điều kiện vay tại <strong><em>Shinhan Bank</em></strong>, khách hàng sẽ được hỗ trợ để tìm được Tổ chức Tài chính phù hợp hơn.</li>
<li>Cuối cùng, sự hợp tác <strong><em>Thiện chí</em></strong> sẽ giúp giảm thiểu <strong><em>Thời gian</em></strong> của cả hai bên.</li>
</ul>
<figure id="attachment_1022" class="wp-caption aligncenter" aria-describedby="caption-attachment-1022"><img class="wp-image-1022 size-medium" src="/public/image/Vay-tin-chap-shinhan-1-700x400.png" alt="" width="700" height="400" loading="lazy" />
<figcaption id="caption-attachment-1022" class="wp-caption-text">“Shinhan Bank – Luôn là Tổ chức Tín dụng uy tín cho mọi nhà”</figcaption>
</figure>
<hr />
<h3>1. ĐIỀU KIỆN VAY TIÊU DÙNG SHINHAN BANK</h3>
<ul>
<li>Khách hàng là Công dân Việt Nam, đang làm việc tại các khu vực được hỗ trợ: <em><strong>H</strong><strong>ồ Chí Minh, Bình Dương, Hà Nội</strong></em></li>
<li>Độ tuổi: <strong>từ 22-55 tuổi</strong></li>
<li>Thời gian làm việc tại Công ty <em><strong>từ 6 tháng trở lên</strong></em> ( Hoặc tổng thời gian làm việc từ 1 năm trở lên)</li>
<li>Thu nhập hàng tháng ( sau Thuế) chuyển khoản <strong><em>từ 6 triệu trở lên</em>.</strong></li>
</ul>
<h3>2. BẢNG LÃI SUẤT VAY TIÊU DÙNG SHINHAN BANK</h3>
<p><strong><em>Vay tiêu dùng Shinhan (ANZ)</em> </strong> áp dụng lãi suất cạnh tranh theo dư nợ giảm dần, cam kết lãi suất thấp nhất thị trường Vay tiêu dùng hiện nay.</p>
<p>Số tiền trả hàng tháng là bằng nhau, giúp Khách hàng dễ dàng nhớ khoản tiền trả, nhắm giảm bớt tình trạng trả chậm, trả trễ của Khách hàng.</p>
<p>Lãi suất Dư nợ giảm dần chỉ từ <em>15%/năm</em> đến <em>21%/năm</em> đối với Khách hàng thường.</p>
<p>Tạm tính Lãi suất cố định chỉ từ <em>8.27%/năm</em> đến <em>11.88%/năm</em></p>
<p>Cam kết lãi suất không tăng qua các năm.</p>
<p><img src="/public/image/LAI-SUAT-Q2-1.jpg" alt="" width="511" height="488" /></p>
<figure id="attachment_1019" class="wp-caption aligncenter" aria-describedby="caption-attachment-1019"><br />
<figcaption id="caption-attachment-1019" class="wp-caption-text">( Bảng ước tính số tiền trả hàng tháng của Ngân hàng Shinhan Bank – ANZ )</figcaption>
</figure>
<h3><img class=" wp-image-1011 aligncenter" src="/public/image/L%C3%A3i-su%E1%BA%A5t-Vay-tieu-dug-Shinhan-Bank.png" alt="" width="631" height="148" loading="lazy" /></h3>
<hr />
<p><strong>(*)Ưu đãi lãi suất với một số Khách hàng</strong></p>
<p><strong>Shinhan Bank (ANZ)</strong> luôn có những ưu đãi về lãi suất cho khách hàng cũ, khách hàng thân thiết của mình.</p>
<ul>
<li>Những khách hàng đang có khoản vay, thẻ tín dụng hay được trả lương qua <em><strong>Shinhan Bank (ANZ)</strong></em> sẽ được lãi suất ưu đãi chỉ từ <em>7.65%/năm- 9.05%/năm</em> ( <em>13%/năm – 17%/năm</em>  lãi suất dư nợ giảm dần)</li>
<li>Đối với khách hàng là <strong><em>Giáo viên, Nhân viên Ngân hàng</em></strong> đang làm việc tại Tp HCM, Bình Dương, lãi suất Shinhan áp dụng chỉ từ 14-16% Năm theo lãi suất Dư nợ giảm dần, tùy thuộc vào Khoản vay của Quý khách</li>
<li>Ưu đãi riêng đối với khách hàng nhận lương qua 11 Ngân hàng Đối tác của Shinhan Bank: <em><strong>CitiBank, HSBC, Standard Chartered, Vietcombank, Vietinbank, BIDV, Techcombank, MB Bank, Vp Bank, VIB Bank, ACB Bank</strong></em></li>
</ul>
<h3>3. HỒ SƠ VAY TIÊU DÙNG SHINHAN BANK</h3>
<p><img class="size-medium wp-image-1018 aligncenter" src="/public/image/Ho-so-vaytieudungshinhan.net_-1-762x400.jpg" alt="" width="762" height="400" loading="lazy" /></p>
<p><strong><em>Quý khách cần những giấy tờ gì để hoàn thành Hợp đồng Vay tiêu dùng Shinhan Bank?</em></strong></p>
<p>Quý khách chỉ cần chuẩn bị:</p>
<ul>
<li>Chứng minh Nhân dân (<em>photo</em>)</li>
<li>Hộ khẩu (<em>photo</em>)</li>
<li>Hợp đồng Lao động <em>(photo</em>)</li>
<li>Sao kê lương 3 tháng gần nhất</li>
</ul>
<p>Đầy đủ giấy tờ, Quý khách chỉ cần liên hệ với chúng tôi để các Chuyên viên Tín dụng hướng dẫn hoàn thành Hợp đồng vay.</p>
<h3>4. QUY TRÌNH DUYỆT HỒ SƠ SHINHAN BANK</h3>
<figure id="attachment_1020" class="wp-caption aligncenter" aria-describedby="caption-attachment-1020"><img src="/public/image/quy-trinh-vay-tieu-dung-shinhan-bank-1.jpg" alt="" width="707" height="800" /></figure>
<p>Đăng Kí Vay Tại <a title="đăng kí vay shinhanbank" href="/home"Đây</a></p>              
            </div>
            
            
            
            
       </div>
   </div>
   
   <div class="col-lg-3">
    <div class="widget-ct widget-categories mb-30" style="margin-top: 15px;">
    <div class="widget-s-title">
    <h4>SẢN PHẨM DỊCH VỤ</h4>
    </div>
    <ul id="accordion-category" class="product-cat">
          <li><a href="/vay-tieu-dung">Vay Tiêu Dùng </a></li>
         <li><a href="/the-tin-dung-shinhanbank">thẻ tín dụng shinhanbank </a></li>
         <li><a href="/vay-the-chap-nha-dat">Vay Thế Chấp Nhà đất</a></li>
         <li><a href="/ho-tro-cong-nhan-va-tu-doanh">Hỗ Trợ Công Nhân và Tự Doanh</a></li>
       
    </ul>
</div>
       <!-- new -->
        <div class="title-news">Tin Liên Quan</div>
    <div class="aside-content">
         			<div class="blog-list blog-image-list">
				
				<div class="loop-blog">
					<div class="thumb-left">
						<a href="/rut-tien-td">
	                           <img src="/public/image/3b05f83f529e3602eef89682a41678db.jpg" style="max-width:100%;" class="img-responsive" title="RÚT TIỀN MẶT THẺ TÍN DỤNG LÃI SUẤT ƯU ĐÃI 1.1% / THÁNG" alt="RÚT TIỀN MẶT THẺ TÍN DỤNG LÃI SUẤT ƯU ĐÃI 1.1% / THÁNG">
					     </a>
				    </div>
				   <div class="name-right">
							<h3><a href="/rut-tien-td" title="RÚT TIỀN MẶT THẺ TÍN DỤNG LÃI SUẤT ƯU ĐÃI 1.1% / THÁNG">RÚT TIỀN MẶT THẺ TÍN DỤNG LÃI SUẤT Ư...</a></h3>
							<div class="date"><i class="fa fa-clock-o"></i> 08-06-2020</div>
											
				</div>
			</div>
	
		</div>
		<div class="clear"></div>
					<div class="blog-list blog-image-list">
				
				<div class="loop-blog">
					<div class="thumb-left">
						<a href="/vay-tin-chap-vay-tieu-dung">
	                           <img src="/public/image/a188add40d415a128d9b4ffbdb68f632.JPG" style="max-width:100%;" class="img-responsive" title="Vay tín chấp - Vay tiêu dùng ngân hàng Shinhanbank." alt="Vay tín chấp - Vay tiêu dùng ngân hàng Shinhanbank.">
					     </a>
				    </div>
				   <div class="name-right">
							<h3><a href="/vay-tin-chap-vay-tieu-dung" title="Vay tín chấp - Vay tiêu dùng ngân hàng Shinhanbank.">Vay tín chấp - Vay tiêu dùng ngân hà...</a></h3>
							<div class="date"><i class="fa fa-clock-o"></i> 09-09-2020</div>
											
				</div>
			</div>
	
		</div>
		<div class="clear"></div>
					<div class="blog-list blog-image-list">
				
				<div class="loop-blog">
					<div class="thumb-left">
						<a href="/thoa-trai-nghiem">
	                           <img src="/public/image/279cf4dee50aae9998c6ec8e87e25e59.jpg" style="max-width:100%;" class="img-responsive" title="Thỏa trải nghiệm - Hoàn triệu điểm (Dành cho Khách hàng Doanh Nghiệp hiện hữu)" alt="Thỏa trải nghiệm - Hoàn triệu điểm (Dành cho Khách hàng Doanh Nghiệp hiện hữu)">
					     </a>
				    </div>
				   <div class="name-right">
							<h3><a href="/thoa-trai-nghiem" title="Thỏa trải nghiệm - Hoàn triệu điểm (Dành cho Khách hàng Doanh Nghiệp hiện hữu)">Thỏa trải nghiệm - Hoàn triệu điểm (...</a></h3>
							<div class="date"><i class="fa fa-clock-o"></i> 06-10-2020</div>
											
				</div>
			</div>
	
		</div>
		<div class="clear"></div>
					<div class="blog-list blog-image-list">
				
				<div class="loop-blog">
					<div class="thumb-left">
						<a href="/tung-bung-khai-truong">
	                           <img src="/public/image/bd6eaab62077069666f51a3d203f2f2a.jpg" style="max-width:100%;" class="img-responsive" title="Tưng bừng khai trương, nhận nghìn quà tặng" alt="Tưng bừng khai trương, nhận nghìn quà tặng">
					     </a>
				    </div>
				   <div class="name-right">
							<h3><a href="/tung-bung-khai-truong" title="Tưng bừng khai trương, nhận nghìn quà tặng">Tưng bừng khai trương, nhận nghìn qu...</a></h3>
							<div class="date"><i class="fa fa-clock-o"></i> 06-10-2020</div>
											
				</div>
			</div>
	
		</div>
		<div class="clear"></div>
					<div class="blog-list blog-image-list">
				
				<div class="loop-blog">
					<div class="thumb-left">
						<a href="/niem-tin-cua-nd">
	                           <img src="/public/image/34e6bd2320923ac2c0ef7e6189a20833.jpg" style="max-width:100%;" class="img-responsive" title="Niềm tin của người dùng làm nên sức mạnh của Ngân hàng Shinhan" alt="Niềm tin của người dùng làm nên sức mạnh của Ngân hàng Shinhan">
					     </a>
				    </div>
				   <div class="name-right">
							<h3><a href="/niem-tin-cua-nd" title="Niềm tin của người dùng làm nên sức mạnh của Ngân hàng Shinhan">Niềm tin của người dùng làm nên sức ...</a></h3>
							<div class="date"><i class="fa fa-clock-o"></i> 16-09-2020</div>
											
				</div>
			</div>
	
		</div>
		<div class="clear"></div>
					<div class="blog-list blog-image-list">
				
				<div class="loop-blog">
					<div class="thumb-left">
						<a href="/vay-tin-chap">
	                           <img src="/public/image/ab03c4fdadadd4157f0073850ce3d832.png" style="max-width:100%;" class="img-responsive" title="Vay tín chấp ngân hàng Shinhan Bank không thế chấp tài sản, lãi suất thấp nhất thị trường." alt="Vay tín chấp ngân hàng Shinhan Bank không thế chấp tài sản, lãi suất thấp nhất thị trường.">
					     </a>
				    </div>
				   <div class="name-right">
							<h3><a href="/vay-tin-chap" title="Vay tín chấp ngân hàng Shinhan Bank không thế chấp tài sản, lãi suất thấp nhất thị trường.">Vay tín chấp ngân hàng Shinhan Bank ...</a></h3>
							<div class="date"><i class="fa fa-clock-o"></i> 09-09-2020</div>
											
				</div>
			</div>
	
		</div>
		<div class="clear"></div>
		  </div>
      <!-- end -->
   
   </div>
   
   
</div>
</div>
     </div>
         
		 
 
<div class="wrap-footer-text group">
   <div class="container">
      <div class="row">
	     <div class="title-text-vaytindung title-mr-70">
			        <h2>TẠI SAO NÊN CHỌN SHINHANBANK</h2>
			     </div>
				 <div class="col-md-4 col-sm-6 col-xs-12 paddingweb">
		   <div class="item equalize">
		      <span class="number">1</span>
			  <span class="title">HOÀN TOÀN MIỄN PHÍ</span>
			  <p class="text">
                    Tự do tìm kiếm, nhận tư vấn và đăng ký trực tuyến 100% miễn phí                </p>
			</div>
		 </div>
		  		 <div class="col-md-4 col-sm-6 col-xs-12 paddingweb">
		   <div class="item equalize">
		      <span class="number">2</span>
			  <span class="title">NHANH CHÓNG, TIỆN LỢI, NHIỀU ƯU ĐÃI</span>
			  <p class="text">
                    Đắng ký vay / Gửi tiết kiệm / Mở thẻ trực tuyến nhanh chóng                </p>
			</div>
		 </div>
		  		 <div class="col-md-4 col-sm-6 col-xs-12 paddingweb">
		   <div class="item equalize">
		      <span class="number">3</span>
			  <span class="title">CHUYÊN NGHIỆP TUYỆT ĐỐI</span>
			  <p class="text">
                    Dịch vụ chuyên nghiệp từ các chuyên gia tài chính                </p>
			</div>
		 </div>
		  	  </div>
   </div>
</div>
<div class="header-border-bottom">
 
</div>
<footer class="section">
<div class="container">
<div class="row">
<div class="col-md-3 col-sm-6">
<div class="block-subscribe">
<h3 class="widget-title">Giới Thiệu</h3>
<p>
<p>Hotline: 0707183645</p></p>
</div>
</div>
<div class="col-md-3 col-sm-6">
<h3 class="widget-title">SẢN PHẨM DỊCH VỤ SHINHANBANK</h3>
<ul>
      <li><a href="/vay-tieu-dung">Vay Tiêu Dùng </a></li>
     <li><a href="/the-tin-dung-shinhanbank">thẻ tín dụng shinhanbank </a></li>
     <li><a href="/vay-the-chap-nha-dat">Vay Thế Chấp Nhà đất</a></li>
     <li><a href="/ho-tro-cong-nhan-va-tu-doanh">Hỗ Trợ Công Nhân và Tự Doanh</a></li>
   
</ul>
  </div>
<div class="col-md-3 col-sm-6">
<h3 class="widget-title">Nhận Tin Khuyến Mãi</h3>
<div class="tagcloud">
      <input type="text" class="form-control textdangki" name="email" placeholder="Vui Lòng Nhập Email" style="margin-bottom: 5px">
      <button type="button" class="btn btn-common clickdangki">Đăng Kí</button>
</div>
</div>
</div>
</div>
</footer>
<div class="website" style="    background-color: #f1f1f1;color:#1b1b1b;font-size: 15px;padding: 7px 0px;">
<div class="container">
    <div class="row">
        Bản Quyền Thuộc Về shinhanbankvay24h.com.vn | Cung Cấp Bởi Hodyweb.com
    </div>
    
</div>
</div>
 <div class="modal fade"  id="modalsanpham"  tabindex="-1" role="dialog" aria-labelledby="demoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg  " role="document">
        <div class="modal-content" style="padding-bottom: 17px;">

            <div class="container-fluid">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    
                      <div class="wrap-ajax-sanpham" style="padding: 22px 18px;">
                              <div class="show-ajax-sanpham">
                                   
                              </div>
                          
                      </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
 <div class="modal fade"  id="modalgiohang"  tabindex="-1" role="dialog"
     aria-labelledby="demoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg  " role="document">
        <div class="modal-content">

            <div class="container-fluid">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    
                      <div class="wrap-giohang">
                          <p class="dangloadgh" style="background-color: #00a08a;color: white;padding: 13px 15px;">Sản Phẩm Đã Thêm Vào Giỏ Hàng</p>
                          
                              <div class="show-ajax-giohang">
                                 
                                   
                                 
                              </div>
                          
                      </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>

 
 <div class="modal fade"  id="modaldangki"  tabindex="-1" role="dialog"
     aria-labelledby="demoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg  " role="document">
        <div class="modal-content">

            <div class="container-fluid">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                   <div class="title-text-vaytindung" style="margin-top: 30px;">
			        <h2>Đăng Kí Vay Tiêu Dùng</h2>
					<form method="post" class="formdangki">
					<div class="wrap-modal-vaytieudung">
						<div class="panel-cart-group">
							<span class="panel-cart-text">Họ Và Tên (*):</span>
							<input type="text" name="name" class="form-control hovatenmodal" value="" placeholder="Họ Và Tên(*)" required>
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Cơ Quan Hiện Tại:</span>
							<input type="text" name="coquan" class="form-control coquanhientaimodal" value="" placeholder="Cơ Quan Hiện Tại">
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Số Điện Thoại (*):</span>
							<input type="text" name="sodienthoai" class="form-control sodienthoaimodal" value="" placeholder="Số Điện Thoại(*)">
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Địa Chỉ (*):</span>
							<input type="text" name="diachi" class="form-control diachimodal" value="" placeholder="Địa Chỉ">
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Thu Nhập Hàng Tháng:</span>
							<select class="form-control thunhaphangthang" name="thunhap">
                                 <option value="">Thu Nhập Hàng Tháng</option>
                                 <option value="Dưới 5 Triệu">Dưới 5 Triệu</option>
                                 <option value="5-10 Triệu">5-10 Triệu</option>	
                                 <option value="10-15 Triệu">10-15 Triệu</option>
                                 <option value="15-20 Triệu">15-20 Triệu</option>
                                 <option value="Trên 20 Triệu">Trên 20 Triệu</option>								 
                            </select>
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Số Tiền Cần Vay (*):</span>
							<input type="text" name="sotien" class="form-control sotienvay sotienvaymotmodal" value="" placeholder="Số Tiền Cần Vay(*)" onkeypress="return isNumberKey(event)">
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Số CMND (*):</span>
							<input type="text" name="socmnd" class="form-control socmndmodal" value="" placeholder="Số CMND(*)" onkeypress="return isNumberKey(event)">
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Ngày Sinh (*):</span>
							<input type="text" name="ngaysinh" class="form-control ngaysinhmodal" value="" placeholder="Ngày Sinh(*)">
						</div>
						
						<div class="panel-cart-group">
						<span class="panel-cart-text">Hình Thức Nhận Lương (*):</span>
						<select class="form-control hinhthucnhanluongmodal" name="hinhthuc">
                                 <option value="">Hình Thức Nhận Lương</option>
                                 <option value="Tiền Mặt">Tiền Mặt</option>
                                 <option value="Chuyển Khoản">Chuyển Khoản</option>	
                                 						 
                         </select>
				       </div>
						
						<div class="wrap-dangki-ngay-form">
				           <span class="clickdangkiformmodal">Đăng Kí Ngay <i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
		                   <p class="dangchaydkmodal" style="margin-top: 6px;display:none">Đang Đăng Kí, Quý Khách Đợi Trong Giây Lát ...</p>
						 </div>
						
					</div>
					</form>
			     </div>
                </div>
            </div>
        </div>
    </div>
</div> <div class="modal fade"  id="modalthongbao"  tabindex="-1" role="dialog"
     aria-labelledby="demoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg  " role="document">
        <div class="modal-content">

            <div class="container-fluid">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    
                      <div class="wrap-giohang">
                          <p class="dangloadgh" style="background-color: #482368;color: white;padding: 13px 15px;font-size: 18px;">Thông Báo</p>
                          
                              <div class="show-ajax-thongbao">
                                 
                                    <p class="icon"><i class="fa fa-check-circle" aria-hidden="true"></i></p>
                                    <p class="text">Đăng Kí Thành Công</p>
                              </div>
                          
                      </div>
                   
                </div>
            </div>
        </div>
    </div>
</div><a href="#" class="back-to-top">
<i class="fa fa-arrow-up" aria-hidden="true"></i>
</a>