<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb">
                  <!-- <a href=""><i class="fa fa-home" aria-hidden="true"></i> Trang Chủ</a>
                   <span class="crumbs-spacer"><i class="fa fa-angle-double-right"></i></span>
                   <a href=""> Trang mữ</a>
                   <span class="crumbs-spacer"><i class="fa fa-angle-double-right"></i></span>
                   <span class="current">Thời Trang Nam</span>  -->
                   <a href="/home"><i class="fa fa-home" aria-hidden="true"></i> Trang Chủ</a>
                                           <span class="crumbs-spacer"><i class="fa fa-angle-double-right"></i></span>
                       <a href="/san-pham-dich-vu-shinhanbank"> SẢN PHẨM DỊCH VỤ SHINHANBANK</a>
                       
                                        <span class="crumbs-spacer"><i class="fa fa-angle-double-right"></i></span>
                   <span class="current">thẻ tín dụng shinhanbank </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-bottom: 17px;background-color: white;padding: 3px;">
         <div class="row" style="margin-top: 13px">
    <div class="col-md-9 col-sm-12 col-xs-12">
       <div class="title-text-vaytindung">
			        <h2>thẻ tín dụng shinhanbank </h2>
					<div class="content-dichvu">
					   <div class="main">
<div class="width_common">
<div class="a-column">
<div class="box-detail-new"> 
<div class="detail">
<p><em><strong>Thẻ tín dụng Shinhan Bank với những tiện ích, ưu đãi tiêu chuẩn quốc tế cùng dịch vụ chăm sóc chu đáo ngày càng thu hút khách hàng quan tâm và sử dụng lựa chọn tin dùng. </strong></em></p>
<p> </p>
<p>Ngân hàng Shinhan Bank với dịch vụ chăm sóc khách hàng cực chu đáo luôn cam kết đáp ứng các nhu cầu tài chính của khách hàng, đi cùng từng phân khúc khách hàng với những sản phẩm và dịch vụ tài chính chuyên biệt. Đặc biệt các <em><strong><a href="https://topbank.vn/tu-van/lam-the-tin-dung-shinhan-bank-tan-huong-cuc-nhieu-tien-ich" target="_blank" rel="noopener">ưu đãi thẻ tín dụng Shinhanbank 2019</a> </strong></em>ưu đãi nhất chủ thẻ nên cập nhật thường xuyên để không bỏ lỡ các ưu đãi, tiện ích này. </p>
<p> </p>
<h2><strong>1. Các loại thẻ tín dụng Shinhan Bank</strong></h2>
<p> </p>
<p>Với<strong> </strong>sản phẩm thẻ tín dụng, Shinhan Bank đưa ra khá nhiều loại thẻ đa dạng về tính năng ưu đãi cho khách hàng gồm:</p>
<p> </p>
<ul>
<li><strong>Thẻ Cash Back các hạng Platinum, Gold, Classic</strong><br /> </li>
<li><strong>Thẻ Hi-Point  các hạng Platinum, Gold, Classic</strong><br /> </li>
<li><strong>Thẻ PWM Platinum</strong><br /> </li>
<li><strong>Thẻ Visa Travel Platinum</strong><br /> </li>
<li><strong>Thẻ Visa cá nhân E - card</strong><br /> </li>
<li><strong>Thẻ Visa Bạch kim, vàng, chuẩn</strong></li>
</ul>
<p> </p>
<p><a href="https://img.topbank.vn/2019/03/26/pXubIXvx/cac-loai-the-tin-dun-c367.png" target="_blank" rel="noopener"><img title="Các loại thẻ tín dụng Shinhanbank" src="https://img.topbank.vn/2019/03/26/pXubIXvx/cac-loai-the-tin-dun-c367.png" alt="Các loại thẻ tín dụng Shinhanbank - ảnh minh họa " data-class="" data-height="" data-style="" data-width="600" /></a></p>
<p> </p>
<p><em>Một số loại thẻ tín dụng Shinhan Bank</em></p>
<p> </p>
<p><em><strong>&gt;&gt;&gt;&gt; Click ngay: <a href="https://topbank.vn/tu-van/lai-suat-the-tin-dung" target="_blank" rel="noopener">Lãi suất thẻ tín dụng các ngân hàng cập nhật mới nhất năm 2019</a></strong></em></p>
<p> </p>
<h2><strong>2. Ưu đãi thẻ tín dụng Shinhan Bank</strong></h2>
<p> </p>
<p>Thẻ tín dụng Shinhan Bank có thể dễ dàng khiến khách hàng lựa chọn với các ưu đãi cực hấp dẫn như: </p>
<p> </p>
<h3><em><strong>2.1 Nhận ngay điểm thưởng chào mừng tương đương giá trị phí thường niên</strong></em></h3>
<p> </p>
<p>Khách hàng mở thẻ Hi-Point và Cashback sẽ nhận ngay điểm thưởng chào mừng khi khi kích hoạt và sử dụng thẻ tín dụng Shinhan lần đầu tiên trong vòng 60 ngày kể từ ngày phát hành thẻ. Mỗi loại thẻ sẽ được quy định số điểm thưởng chuẩn khác nhau tương đương phí thường niên.</p>
<p> </p>
<p>Chẳng hạn, với thẻ Shinhan Hi-Point Chuẩn nhận ngay 350.000 điểm chào mừng, với  Shinhan Cash Back Bạch Kim chủ thẻ chính nhận ngay 1.100.000 VNĐ tiền thưởng, ...</p>
<p> </p>
<h3><em><strong>2.2 Đặc quyền thị thực nhập cảnh Hàn Quốc</strong></em></h3>
<p> </p>
<p>Khách hàng sở hữu thẻ tín dụng Shinhan hạng Platinum với các loại thẻ <strong>PMW, Hi-Point &amp; Cash Back, Travel, Shinhan Visa Platinum</strong> đều sẽ được ưu đãi đặc quyền xin thị thực nhập cảnh Hàn Quốc.</p>
<p> </p>
<p>Với ưu đãi này, bạn sẽ được giảm bớt gánh nặng khi xin thị thực du lịch Hàn Quốc, dễ dàng và tiện lợi tại tại Đại sứ quán Hàn Quốc (Hà Nội) và Lãnh sự quán Hàn Quốc (Tp. Hồ Chí Minh): </p>
<p> </p>
<ul>
<li>Miễn chứng minh tài chính<br /> </li>
<li>Đặc quyền xin thị thực nhiều lần cho phép nhập cảnh Hàn Quốc nhiều lần mà không cần xin thị thực cho từng lần nhập cảnh<br /> </li>
<li>Đơn giản hóa các thủ tục khi xin thị thực</li>
</ul>
<p> </p>
<p>Ngoài ra, tất các thẻ hạng bạch kim còn cho phép chủ thẻ sử dụng phòng chờ VIP miễn phí tại hơn 1.100 sân bay quốc tế, ưu đãi về sân Golf, bảo hiểm du lịch toàn cầu lên tới 10.5 tỷ, ...</p>
<p> </p>
<p><em><strong>&gt;&gt;&gt;&gt; Xem thêm: <a href="https://topbank.vn/tu-van/uu-dai-mo-the-tin-dung" target="_blank" rel="noopener">Cập nhật ưu đãi mở thẻ tín dụng mới nhất 2019 - tặng tiền mặt lên tới 2 triệu</a></strong></em></p>
<p> </p>
<h3><em><strong>2.3 Ưu đãi tích điểm thưởng cho các giao dịch chi tiêu</strong></em></h3>
<p> </p>
<p>Khách hàng sử dụng thẻ Shinhan Visa Hi - Point sẽ nhận được ưu đãi hoàn tiền khi chi tiêu như sau:</p>
<p> </p>
<p> -  Nhận 4 Điểm thưởng cho mỗi 1.000 VNĐ chi tiêu với thẻ hạng Platinum và 3 Điểm thưởng cho mỗi 1.000 VNĐ chi tiêu với thẻ hạng Vàng và chuẩn</p>
<p> </p>
<p>- Tích lũy đặc biệt 5% (tương đương 50 điểm thưởng cho 1.000 chi tiêu) cho các chi tiêu thẻ tại các đối tác Shinhan  và có sao kê tổng chi tiêu trong kỳ đạt tối thiểu 3 triệu: </p>
<p> </p>
<ul>
<li>Điện máy: Samsung Experience Store, Nguyen Kim, VinPro</li>
<li>Mua sắm: SCJ, Lazada, Lottemart</li>
<li>Ứng dụng đặt xe: Uber, Grab</li>
<li>Du lịch: Agoda</li>
<li>Tiệm bánh: Tous les Jours, Paris Baguette<br /> </li>
</ul>
<p>- Tích lũy 1% cho các chi tiêu thẻ tương đương 10 điểm thưởng cho 1.000 chi tiêu khi sử dụng thẻ tại siêu thị, cửa hàng tiện ích, ẩm thực, ... </p>
<p> </p>
<p>Bạn cũng có thể quy đổi điểm thưởng để nhận tiền mặt tại chi nhánh/ phòng giao dịch, hoàn tiền vào tài khoản thanh toán VNĐ tại Shinhan, điểm thành viên Lotte Mart, hay dặm bay. </p>
<p> </p>
<p><a href="https://img.topbank.vn/2019/03/26/pXubIXvx/eva-air-600x600-ab51.jpg" target="_blank" rel="noopener"><img title="Ưu đãi tích lũy dặm bay " src="https://img.topbank.vn/2019/03/26/pXubIXvx/eva-air-600x600-ab51.jpg" alt="Ưu đãi tích lũy dặm bay cùng thẻ tín dụng Shinhanbank" data-class="" data-height="" data-style="" data-width="600" /></a></p>
<p> </p>
<p><em>Ưu đãi tích lũy dặm bay cùng thẻ tín dụng Shinhanbank</em></p>
<p> </p>
<h3><strong><em>2.4 Ưu đãi hoàn tiền cực lớn</em></strong></h3>
<h3> </h3>
<p>- Hoàn tiền không giới hạn 0.4%/ trên mọi chi tiêu với thẻ Cashback bạch kim và 0.3%/ trên mọi chi tiêu với thẻ hạng vàng và chuẩn</p>
<p> </p>
<p>- Hoàn tiền không giới hạn: 0.3%/ trên mọi chi tiêu như: mua sắm hàng hóa, dịch vụ. Tuy nhiên sẽ không áp dụng cho các dịch vụ trả góp 0% lãi suất, tiền mặt linh hoạt, rút tiền mặt dưới mọi hình thức, ... </p>
<p> </p>
<p>- Hoàn tiền đặc biệt: Thêm 5% trên mọi chi tiêu ẩm thực cuối tuần</p>
<p> </p>
<p>Ngoài ra, nếu bạn sử dụng thẻ Visa PWM bạch kim thì mức hoàn tiền còn lớn hơn nữa tới 0.5% không giới hạn trên mọi giao dịch và được miễn hoàn toàn phí thường niên cho cả thẻ chính và thẻ phụ. </p>
<p> </p>
<h3><em><strong>2.5 Ưu đãi trả góp</strong></em></h3>
<p> </p>
<p>Trả góp 0% lãi suất kỳ hạn lên đến 12 tháng, áp dụng cho giao dịch chi tiêu bằng <a href="https://topbank.vn/the-tin-dung" target="_blank" rel="noopener"><em><strong>thẻ tín dụng</strong></em></a> từ 3.000.000 VNĐ tại hệ thống hơn 50 đối tác của Shinhan với các ngành hàng đa dạng: điện máy, điện tử, thời trang, sức khoẻ, nội thất, khoá học ...</p>
<p> </p>
<p><strong>Trả góp linh hoạt</strong> dành cho giao dịch thẻ từ 3.000.000 VNĐ, kỳ hạn lên đến 18 tháng, lãi suất ưu đãi chỉ từ 1.71% ~ 1.79%/tháng tại bất kỳ thương hiệu bạn yêu thích.</p>
<p> </p>
<h3><em><strong>2.6 Tích lũy dặm bay cùng thẻ Shinhan Visa Travel</strong></em></h3>
<p> </p>
<p>Chủ thẻ chính Thẻ tín dụng Shinhan Travel Platinum nhận ngay 2.000 dặm chào mừng khi kích hoạt và chi tiêu tối thiểu 10 triệu VNĐ trong vòng 60 ngày kể từ ngày phát hành thẻ.</p>
<p> </p>
<p>+ Thưởng dặm bay với quy đổi: 1 dặm = 25.000 đồng chi tiêu, tích lũy không giới hạn<br /> </p>
<p>+ Nhân 3 lần dặm bay cho các chi tiêu quốc tế cuối tuần<br /> </p>
<p>+ Nhân 3 lần dặm bay cho các chi tiêu tại Agoda<br /> </p>
<p>+ Quy đổi dặm thưởng: LotusMiles, KrisFlyer, AsiaMiles, mã giảm giá Agoda<br /> </p>
<p> </p>
<p><strong>&gt;&gt;&gt;&gt;<em> <a href="https://topbank.vn/dang-ky-mo-the-tin-dung-tai-shinhanbank-ha-noi/thunhap-20tr-pid67" target="_blank" rel="noopener">Click ngay để đăng kí và tiến hành mở thẻ tín dụng Shinhan Bank nhanh chóng nhất</a></em></strong></p>
<p> </p>
<p>Ngoài ra, khách hàng còn được hưởng ưu đãi giảm giá đến 50% tại hơn 100 cửa hàng đối tác Shinhan Zone.</p>
<p> </p>
<h2><strong>3. Tiện ích sử dụng thẻ tín dụng Shinhan</strong></h2>
<p> </p>
<p>Khách hàng sở hữu<strong> <em><a href="https://topbank.vn/the-tin-dung-tai-shinhanbank-ha-noi/thu-nhap-20tr/f4" target="_blank" rel="noopener">thẻ tín dụng Shinhan Bank</a></em></strong> hoàn toàn được chi tiêu trước và thanh toán sau với thời gian không tính lãi 45 ngày chi tiêu cùng đẳng cấp thanh toán quốc tế với hơn 33 triệu điểm giao dịch trên toàn cầu. </p>
<p> </p>
<p>Thêm nữa, khách hàng sử dụng thẻ tín dụng Shinhanbank có thể sử dụng các <strong>phương thức thanh toán </strong>cực đa dạng như sau: <br /> </p>
<p>- Chuyển khoản từ ngân hàng khác bằng việc cung cấp đầy đủ thông chuyển khoản như: tên người thụ hưởng, tài khoản thụ hưởng, ngân hàng thụ hưởng, số tiền thanh toán,... <br /> </p>
<p>- Nộp tiền miễn phí tại chi nhánh ngân hàng Sacombank và điền đầy đủ thông tin chuyển khoản vào phiếu nộp tiền thanh toán thẻ tín dụng Shinhan.<br /> </p>
<p>- Thanh toán tự động áp dụng khi khách hàng có tài khoản tiền gửi thanh toán tại Shinhan và đăng kí dịch vụ thanh toán tự động, cực tiện lợi tránh tình trạng trả hạn quá ngày bởi ngân hàng sẽ tự động trừ tiền từ tài khoản này khi đến ngày hạn thanh toán, khách hàng chỉ cần duy trì số dư trong tài khoản này trước 1 ngày là được. <br /> </p>
<p>- Thanh toán tai quầy giao dịch tại bát kì chi nhánh/ phòng giao dịch của ngân hàng Shinhan bank. <br /> </p>
<p> </p>
<p><a href="https://img.topbank.vn/2018/06/18/pXubIXvx/shinhanbank-8b94.jpg" target="_blank" rel="noopener"><img title="Làm thẻ tín dụng Shinhan bank" src="https://img.topbank.vn/2018/06/18/pXubIXvx/shinhanbank-8b94.jpg" alt="Làm thẻ tín dụng Shinhan bank - ảnh minh họa" data-class="" data-height="" data-style="" data-width="600" /></a></p>
<p> </p>
<p><em>Điều kiện và thủ tục làm thẻ tín dụng Shinhanbank</em></p>
<p> </p>
<h2><strong>4. Điều kiện làm thẻ tín dụng Shinhan Bank</strong></h2>
<p> </p>
<p>Để làm thẻ tín dụng Shinhan Bank, khách hàng chỉ cần đáp ứng một số điều kiện và có thủ tục chứng minh như sau: </p>
<p> </p>
<p>- Là công dân Việt Nam, hoặc người nước ngoài trên 18 tuổi, phải có tài khoản tiết kiệm hoặc tiền gửi ngân hàng tại Shinhan Bank nếu mở thẻ có tài sản đảm bảo.  Do vậy hồ sơ đăng kí sẽ phải bao gồm cả giấy tờ xác minh nhân thân và địa chỉ cư trú của chủ thẻ.<br /> </p>
<p>- Thu nhập bình quân phải đáp ứng mức tối thiểu tại của mỗi loại thẻ, thấp nhất là 6 triệu VND/ tháng </p>
<p> </p>
<p>- Có thêm giấy chứng nhận làm việc 3 tháng trở lên như: hợp đồng lao động, sao kê tài khoản lương, ...<br /> </p>
<p> </p>
<p><strong>&gt;&gt;&gt;&gt; Xem thêm: <a href="https://topbank.vn/tu-van/7-luu-y-can-ghi-nho-sau-khi-lam-the-tin-dung-np20180522161028976" target="_blank" rel="noopener"><em>7 lưu ý cần ghi nhớ sau khi làm thẻ tín dụng</em></a></strong></p>
<p> </p>
<p>Trên đây là thông tin chi tiết về <strong>Ưu đãi thẻ tín dụng Shinhan bank - tận hưởng cực nhiều tiện ích</strong> , hi vọng hữu ích với bạn đọc trong việc tham khảo, chuẩn bị giấy tờ cần thiết để tiến hành sử dụng mở thẻ Shinhan bank dễ dàng. Khách hàng có nhu cầu mở thẻ tín dụng Shinhan Bank có thể liên hệ trực tiếp với <a href="https://topbank.vn/" target="_blank" rel="noopener"><em><strong>Topbank.vn</strong></em></a> qua<strong> hotline </strong>:<a class="blue-clr" href="tel: 02437822888" target="_blank" rel="nofollow noopener"><strong>024 378 22 888</strong> </a>để được tư vấn, hỗ trợ miễn phí.</p>
<p> </p>
<div class="author">Theo tin tức ngân hàng</div>
</div>
<div class="full-width text-center mb-15"><a class="button-consultant" href="https://topbank.vn/dang-ky-tu-van">ĐĂNG KÝ TƯ VẤN VAY TRẢ GÓP </a></div>
<div class="tag"><strong class="mr-10">Từ khóa nổi bật</strong> <a href="https://topbank.vn/the-tin-dung-shinhanbank-tagid67">thẻ tín dụng Shinhanbank</a> <a href="https://topbank.vn/the-tin-dung-tagid4">thẻ tín dụng</a> <a href="https://topbank.vn/uu-dai-the-tin-dung-tagid11">ưu đãi thẻ tín dụng</a> <a href="https://topbank.vn/mo-the-tin-dung-tagid105">mở thẻ tín dụng</a> <a href="https://topbank.vn/uu-dai-the-tin-dung-shinhanbank-tagid80">ưu đãi thẻ tín dụng Shinhanbank</a></div>
</div>
</div>
<div class="c-column">
<h2 class="heading fonts-24 text-left mb-20 mt-30 pdt-15">Tư vấn khoản vay</h2>
 
<div class="box-loan-counseling">
<p class="no-margin">Bạn đang có nhu cầu vay mua nhà/xe/ vay tín chấp trả góp? Vui lòng điền các thông tin bên dưới để Topbank.vn liên hệ tư vấn cho bạn những vay ưu đãi với thời gian sớm nhất!</p>
<div id="consulantants-box">
<ul class="list mt-18">
<li><input id="CustomerName" class="input-text input-form-control" name="CustomerName" type="text" placeholder="Họ tên" /></li>
<li><input id="CustomerPhone" class="input-text input-form-control input-int mobile" name="CustomerPhone" type="text" placeholder="Số điện thoại" /></li>
<li><input id="CustomerEmail" class="input-text input-form-control" name="CustomerEmail" type="text" placeholder="Email" /></li>
<li><select id="CbProvinceId" class="chosen-select" name="ProvinceId" data-val="true" data-val-number="The field ProvinceId must be a number." data-val-required="The ProvinceId field is required.">
<option selected="selected" value="1">Hà Nội</option>
 
<option value="2">TP.HCM</option>
 
<option value="16">Đà Nẵng</option>
 
<option value="24">Hải Phòng</option>
 
<option value="13">Cần Thơ</option>
 
<option value="3">An Giang</option>
 
<option value="4">Bắc Ninh</option>
 
<option value="5">Bạc Liêu</option>
 
<option value="6">Bình Dương</option>
 
<option value="7">Bình Phước</option>
 
<option value="8">Bình Thuận</option>
 
<option value="9">Bình Định</option>
 
<option value="10">Bắc Cạn</option>
 
<option value="11">Bắc Giang</option>
 
<option value="12">Bến Tre</option>
 
<option value="14">Cà Mau</option>
 
<option value="15">Cao Bằng</option>
 
<option value="17">Đồng Nai</option>
 
<option value="18">Đồng Tháp</option>
 
<option value="19">Đăk Lăk</option>
 
<option value="20">Đăk Nông</option>
 
<option value="21">Điện Biên</option>
 
<option value="22">Gia Lai</option>
 
<option value="23">Hưng Yên</option>
 
<option value="25">Hải Dương</option>
 
<option value="26">Hà Nam</option>
 
<option value="27">Hà Giang</option>
 
<option value="28">Hà Tĩnh</option>
 
<option value="29">Hậu Giang</option>
 
<option value="30">Hòa Bình</option>
 
<option value="31">Kiên Giang</option>
 
<option value="32">Khánh Hòa</option>
 
<option value="33">Kon Tum</option>
 
<option value="34">Long An</option>
 
<option value="35">Lạng Sơn</option>
 
<option value="36">Lâm Đồng</option>
 
<option value="37">Lào Cai</option>
 
<option value="38">Lai Châu</option>
 
<option value="39">Nghệ An</option>
 
<option value="40">Ninh Bình</option>
 
<option value="41">Ninh Thuận</option>
 
<option value="42">Nam Định</option>
 
<option value="43">Phú Thọ</option>
 
<option value="44">Phú Yên</option>
 
<option value="45">Quảng Nam</option>
 
<option value="46">Quảng Ninh</option>
 
<option value="47">Quảng Ngãi</option>
 
<option value="48">Quảng Bình</option>
 
<option value="49">Quảng Trị</option>
 
<option value="50">Sơn La</option>
 
<option value="51">Sóc Trăng</option>
 
<option value="52">Tây Ninh</option>
 
<option value="53">Thái Nguyên</option>
 
<option value="54">Thừa Thiên Huế</option>
 
<option value="55">Tiền Giang</option>
 
<option value="56">Thái Bình</option>
 
<option value="57">Thanh Hóa</option>
 
<option value="58">Trà Vinh</option>
 
<option value="59">Tuyên Quang</option>
 
<option value="60">Vĩnh Phúc</option>
 
<option value="61">Vĩnh Long</option>
 
<option value="62">Vũng Tàu</option>
 
<option value="63">Yên Bái</option>
 </select>
<div id="CbProvinceId_chosen" class="chosen-container chosen-container-single" title=""><a class="chosen-single">Hà Nội</a>
<div> </div>
<div class="chosen-drop">
<div class="chosen-search"><input autocomplete="off" type="text" /></div>
</div>
</div>
</li>
<li><select id="CbProduct" class="chosen-select disable_search" name="ProductType" data-val="true" data-val-number="The field ProductType must be a number." data-val-required="The ProductType field is required.">
<option selected="selected" value="0">Chọn sản phẩm</option>
 
<option value="1">Vay mua ô tô</option>
 
<option value="2">Vay mua nhà, đất/vay thế chấp nhà</option>
 
<option value="3">Vay tín chấp</option>
 
<option value="4">Mở thẻ tín dụng</option>
 </select>
<div id="CbProduct_chosen" class="chosen-container chosen-container-single chosen-container-single-nosearch" title=""><a class="chosen-single">Chọn sản phẩm</a>
<div> </div>
<div class="chosen-drop">
<div class="chosen-search"><input autocomplete="off" readonly="readonly" type="text" /></div>
</div>
</div>
</li>
<li class="mt-10"><button id="btnConsultantSubmit" class="button-s full-width">Nhận tư vấn</button></li>
</ul>
</div>
</div>
<div class="mt-35 float-left"> </div>
<h3 class="heading fonts-24 text-left  mb-20 mt-35 line-height-32">Bài viết được quan tâm</h3>
 
<ul class="list-new-small">
<li>
<div class="photo"><a title="Lãi suất vay tín chấp Eximbank 2020 cập nhật chi tiết" href="https://topbank.vn/tu-van/lai-suat-vay-tin-chap-eximbank"><img src="https://img.topbank.vn/crop/360x270/2018/09/25/pXubIXvx/ngan-hang-eximbank--5e2f.jpg" alt="https://img.topbank.vn/crop/360x270/2018/09/25/pXubIXvx/ngan-hang-eximbank--5e2f.jpg" /></a></div>
<div class="content-small">
<p class="title">Lãi suất vay tín chấp eximbank 2020 cập nhật chi tiết</p>
</div>
</li>
<li>
<div class="photo"><a title="Lãi suất gửi tiết kiệm ngân hàng MBBank tháng 5/2020" href="https://topbank.vn/tu-van/lai-suat-gui-tiet-kiem-ngan-hang-mbbank"><img src="https://img.topbank.vn/crop/360x270/2018/10/31/zoXeBVdi/lai-suat-gui-tiet-ki-fa9b.jpg" alt="https://img.topbank.vn/crop/360x270/2018/10/31/zoXeBVdi/lai-suat-gui-tiet-ki-fa9b.jpg" /></a></div>
<div class="content-small">
<p class="title">Lãi suất gửi tiết kiệm ngân hàng mbbank tháng 5/2020</p>
</div>
</li>
<li>
<div class="photo"><a title="Lãi suất gửi tiền tiết kiệm tại ngân hàng BIDV năm 2020 là bao nhiêu?" href="https://topbank.vn/tu-van/lai-suat-gui-tien-tiet-kiem-tai-ngan-hang-bidv-nam-2018-la-bao-nhieu"><img src="https://img.topbank.vn/crop/360x270/2018/04/20/jDFnkIeH/gui-tiet-kiem-bidv-54a1.png" alt="https://img.topbank.vn/crop/360x270/2018/04/20/jDFnkIeH/gui-tiet-kiem-bidv-54a1.png" /></a></div>
<div class="content-small">
<p class="title">Lãi suất gửi tiền tiết kiệm tại ngân hàng bidv năm 2020 là ...</p>
</div>
</li>
<li>
<div class="photo"><a title="Cập nhật lãi suất ngân hàng Agribank mới nhất 2020" href="https://topbank.vn/tu-van/lai-suat-ngan-hang-agribank"><img src="https://img.topbank.vn/crop/360x270/2018/06/13/zoXeBVdi/lai-suat-ngan-hang-a-2cba.jpg" alt="https://img.topbank.vn/crop/360x270/2018/06/13/zoXeBVdi/lai-suat-ngan-hang-a-2cba.jpg" /></a></div>
<div class="content-small">
<p class="title">Cập nhật lãi suất ngân hàng agribank mới nhất 2020</p>
</div>
</li>
<li>
<div class="photo"><a title="Lãi suất gửi tiết kiệm Vietinbank cập nhật tháng 6/2020" href="https://topbank.vn/tu-van/lai-suat-gui-tiet-kiem-vietinbank-cap-nhat-moi-nhat-2018"><img src="https://img.topbank.vn/crop/360x270/2018/08/03/jDFnkIeH/ngan-hang-viettinban-94e2.jpg" alt="https://img.topbank.vn/crop/360x270/2018/08/03/jDFnkIeH/ngan-hang-viettinban-94e2.jpg" /></a></div>
<div class="content-small">
<p class="title">Lãi suất gửi tiết kiệm vietinbank cập nhật tháng 6/2020</p>
</div>
</li>
</ul>
<h2 class="heading fonts-24 text-left  mb-20 mt-35 line-height-32">Chủ đề được quan tâm</h2>
 
<div class="box-topic-interest">
<h3 class="title "><a title="Vay mua nhà" href="https://topbank.vn/tu-van/vay-mua-nha">Vay mua nhà</a></h3>
<h3 class="title "><a title="Vay mua xe" href="https://topbank.vn/tu-van/vay-mua-xe">Vay mua xe</a></h3>
<h3 class="title "><a title="Vay tiêu dùng" href="https://topbank.vn/tu-van/vay-tieu-dung">Vay tiêu dùng</a></h3>
<h3 class="title "><a title="Thẻ tín dụng" href="https://topbank.vn/tu-van/the-tin-dung">Thẻ tín dụng</a></h3>
<h3 class="title "><a title="Gửi tiết kiệm" href="https://topbank.vn/tu-van/gui-tiet-kiem">Gửi tiết kiệm</a></h3>
<h3 class="title "><a title="Thanh toán" href="https://topbank.vn/tu-van/thanh-toan">Thanh toán</a></h3>
<h3 class="title "><a title="Bảo hiểm" href="https://topbank.vn/tu-van/bao-hiem">Bảo hiểm</a></h3>
</div>
<h2 class="heading fonts-24 text-left  mb-20 mt-35 line-height-32">Lãi suất ngân hàng</h2>
 
<ul class="list-item right-list">
<li>
<h3 class="font-normal"><a title="Cập nhật lãi suất vay ngân hàng mới nhất tháng 6/2020" href="https://topbank.vn/tu-van/lai-suat-vay-ngan-hang">Cập nhật lãi suất vay ngân hàng mới nhất tháng 6/2020</a></h3>
</li>
<li>
<h3 class="font-normal"><a title="Lãi suất ngân hàng Vietcombank mới nhất 2020" href="https://topbank.vn/tu-van/lai-suat-ngan-hang-vietcombank">Lãi suất ngân hàng Vietcombank mới nhất 2020</a></h3>
</li>
<li>
<h3 class="font-normal"><a title="Lãi suất ngân hàng BIDV năm 2019 cập nhật mới nhất" href="https://topbank.vn/tu-van/lai-suat-ngan-hang-bidv-nam-2018-cap-nhat-moi-nhat">Lãi suất ngân hàng BIDV năm 2019 cập nhật mới nhất</a></h3>
</li>
<li>
<h3 class="font-normal"><a title="Cập nhật lãi suất ngân hàng Techcombank mới tháng 6/2020" href="https://topbank.vn/tu-van/lai-suat-ngan-hang-techcombank">Cập nhật lãi suất ngân hàng Techcombank mới tháng 6/2020</a></h3>
</li>
<li>
<h3 class="font-normal"><a title="Lãi suất ngân hàng VPBank tháng 6/2020 cập nhật mới nhất" href="https://topbank.vn/tu-van/lai-suat-ngan-hang-vpbank">Lãi suất ngân hàng VPBank tháng 6/2020 cập nhật mới nhất</a></h3>
</li>
</ul>
<h2 class="heading fonts-24 text-left  mb-20 mt-35 line-height-32">Ngân hàng tiêu biểu</h2>
<ul class="list-item right-list">
<li>
<h3 class="font-normal"><a title="Lãi suất vay mua nhà Vietcombank tháng 7/2020 đầy đủ, chính xác nhất" href="https://topbank.vn/tu-van/lai-suat-vay-mua-nha-vietcombank">Lãi suất vay mua nhà Vietcombank tháng 7/2020 đầy đủ, chính xác nhất</a></h3>
</li>
<li>
<h3 class="font-normal"><a title="Lãi suất vay mua nhà VPBank tháng 5/2020 - Mua nhà với lãi suất chỉ từ 8.5%/năm" href="https://topbank.vn/tu-van/lai-suat-vay-mua-nha-vpbank">Lãi suất vay mua nhà VPBank tháng 5/2020 - Mua nhà với lãi suất chỉ từ 8.5%/năm</a></h3>
</li>
<li>
<h3 class="font-normal"><a title="Lãi suất vay mua nhà Techcombank tháng 6/2020 - Cập nhật mới nhất" href="https://topbank.vn/tu-van/lai-suat-vay-mua-nha-techcombank">Lãi suất vay mua nhà Techcombank tháng 6/2020 - Cập nhật mới nhất</a></h3>
</li>
<li>
<h3 class="font-normal"><a title="Lãi suất vay mua xe Shinhanbank tháng 7/2020 mới nhất hiện nay" href="https://topbank.vn/tu-van/lai-suat-vay-mua-xe-o-to-Shinhanbank">Lãi suất vay mua xe Shinhanbank tháng 7/2020 mới nhất hiện nay</a></h3>
</li>
<li>
<h3 class="font-normal"><a title="Hạn mức và lãi suất vay mua xe ngân hàng Eximbank" href="https://topbank.vn/tu-van/han-muc-va-lai-suat-vay-mua-xe-mua-o-to-ngan-hang-eximbank">Hạn mức và lãi suất vay mua xe ngân hàng Eximbank</a></h3>
</li>
</ul>
</div>
</div>
</div>					</div>
 </div>
      </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
       
<div class="widget-ct widget-categories mb-30" style="margin-top: 15px;">
    <div class="widget-s-title">
    <h4>SẢN PHẨM DỊCH VỤ SHINHANBANK</h4>
    </div>
    <ul id="accordion-category" class="product-cat">
          <li><a href="/vay-tieu-dung">Vay Tiêu Dùng </a></li>
         <li><a href="/the-tin-dung-shinhanbank">thẻ tín dụng shinhanbank </a></li>

         <li><a href="/ho-tro-cong-nhan-va-tu-doanh">Hỗ Trợ Công Nhân và Tự Doanh</a></li>
       
    </ul>
</div>
      
       <div class="title-news">Tin Liên Quan</div>
    <div class="aside-content">
         			<div class="blog-list blog-image-list">
				
				<div class="loop-blog">
					<div class="thumb-left">
						<a href="/vay-tin-chap-vay-tieu-dung">
	                           <img src="/public/image/a188add40d415a128d9b4ffbdb68f632.JPG" style="max-width:100%;" class="img-responsive" title="Vay tín chấp - Vay tiêu dùng ngân hàng Shinhanbank." alt="Vay tín chấp - Vay tiêu dùng ngân hàng Shinhanbank.">
					     </a>
				    </div>
				   <div class="name-right">
							<h3><a href="/vay-tin-chap-vay-tieu-dung" title="Vay tín chấp - Vay tiêu dùng ngân hàng Shinhanbank.">Vay tín chấp - Vay tiêu dùng ngân hà...</a></h3>
							<div class="date"><i class="fa fa-clock-o"></i> 09-09-2020</div>
											
				</div>
			</div>
	
		</div>
		<div class="clear"></div>
					<div class="blog-list blog-image-list">
				
				<div class="loop-blog">
					<div class="thumb-left">
						<a href="/tung-bung-khai-truong">
	                           <img src="/public/image/bd6eaab62077069666f51a3d203f2f2a.jpg" style="max-width:100%;" class="img-responsive" title="Tưng bừng khai trương, nhận nghìn quà tặng" alt="Tưng bừng khai trương, nhận nghìn quà tặng">
					     </a>
				    </div>
				   <div class="name-right">
							<h3><a href="/tung-bung-khai-truong" title="Tưng bừng khai trương, nhận nghìn quà tặng">Tưng bừng khai trương, nhận nghìn qu...</a></h3>
							<div class="date"><i class="fa fa-clock-o"></i> 06-10-2020</div>
											
				</div>
			</div>
	
		</div>
		<div class="clear"></div>
					<div class="blog-list blog-image-list">
				
				<div class="loop-blog">
					<div class="thumb-left">
						<a href="/vay-tin-chap">
	                           <img src="/public/image/ab03c4fdadadd4157f0073850ce3d832.png" style="max-width:100%;" class="img-responsive" title="Vay tín chấp ngân hàng Shinhan Bank không thế chấp tài sản, lãi suất thấp nhất thị trường." alt="Vay tín chấp ngân hàng Shinhan Bank không thế chấp tài sản, lãi suất thấp nhất thị trường.">
					     </a>
				    </div>
				   <div class="name-right">
							<h3><a href="/vay-tin-chap" title="Vay tín chấp ngân hàng Shinhan Bank không thế chấp tài sản, lãi suất thấp nhất thị trường.">Vay tín chấp ngân hàng Shinhan Bank ...</a></h3>
							<div class="date"><i class="fa fa-clock-o"></i> 09-09-2020</div>
											
				</div>
			</div>
	
		</div>
		<div class="clear"></div>
					<div class="blog-list blog-image-list">
				
				<div class="loop-blog">
					<div class="thumb-left">
						<a href="/rut-tien-td">
	                           <img src="/public/image/3b05f83f529e3602eef89682a41678db.jpg" style="max-width:100%;" class="img-responsive" title="RÚT TIỀN MẶT THẺ TÍN DỤNG LÃI SUẤT ƯU ĐÃI 1.1% / THÁNG" alt="RÚT TIỀN MẶT THẺ TÍN DỤNG LÃI SUẤT ƯU ĐÃI 1.1% / THÁNG">
					     </a>
				    </div>
				   <div class="name-right">
							<h3><a href="/rut-tien-td" title="RÚT TIỀN MẶT THẺ TÍN DỤNG LÃI SUẤT ƯU ĐÃI 1.1% / THÁNG">RÚT TIỀN MẶT THẺ TÍN DỤNG LÃI SUẤT Ư...</a></h3>
							<div class="date"><i class="fa fa-clock-o"></i> 08-06-2020</div>
											
				</div>
			</div>
	
		</div>
		<div class="clear"></div>
					<div class="blog-list blog-image-list">
				
				<div class="loop-blog">
					<div class="thumb-left">
						<a href="/thoa-trai-nghiem">
	                           <img src="/public/image/279cf4dee50aae9998c6ec8e87e25e59.jpg" style="max-width:100%;" class="img-responsive" title="Thỏa trải nghiệm - Hoàn triệu điểm (Dành cho Khách hàng Doanh Nghiệp hiện hữu)" alt="Thỏa trải nghiệm - Hoàn triệu điểm (Dành cho Khách hàng Doanh Nghiệp hiện hữu)">
					     </a>
				    </div>
				   <div class="name-right">
							<h3><a href="/thoa-trai-nghiem" title="Thỏa trải nghiệm - Hoàn triệu điểm (Dành cho Khách hàng Doanh Nghiệp hiện hữu)">Thỏa trải nghiệm - Hoàn triệu điểm (...</a></h3>
							<div class="date"><i class="fa fa-clock-o"></i> 06-10-2020</div>
											
				</div>
			</div>
	
		</div>
		<div class="clear"></div>
					<div class="blog-list blog-image-list">
				
				<div class="loop-blog">
					<div class="thumb-left">
						<a href="/quy-khach-se-de-dang">
	                           <img src="/public/image/a249c6cb182ab86936dba6f1d289692e.jpg" style="max-width:100%;" class="img-responsive" title="Quý khách sẽ dễ dàng tiếp cận gói vay của Shinhan Bank " alt="Quý khách sẽ dễ dàng tiếp cận gói vay của Shinhan Bank ">
					     </a>
				    </div>
				   <div class="name-right">
							<h3><a href="/quy-khach-se-de-dang" title="Quý khách sẽ dễ dàng tiếp cận gói vay của Shinhan Bank ">Quý khách sẽ dễ dàng tiếp cận gói va...</a></h3>
							<div class="date"><i class="fa fa-clock-o"></i> 16-09-2020</div>
											
				</div>
			</div>
	
		</div>
		<div class="clear"></div>
					<div class="blog-list blog-image-list">
				
				<div class="loop-blog">
					<div class="thumb-left">
						<a href="/niem-tin-cua-nd">
	                           <img src="/public/image/34e6bd2320923ac2c0ef7e6189a20833.jpg" style="max-width:100%;" class="img-responsive" title="Niềm tin của người dùng làm nên sức mạnh của Ngân hàng Shinhan" alt="Niềm tin của người dùng làm nên sức mạnh của Ngân hàng Shinhan">
					     </a>
				    </div>
				   <div class="name-right">
							<h3><a href="/niem-tin-cua-nd" title="Niềm tin của người dùng làm nên sức mạnh của Ngân hàng Shinhan">Niềm tin của người dùng làm nên sức ...</a></h3>
							<div class="date"><i class="fa fa-clock-o"></i> 16-09-2020</div>
											
				</div>
			</div>
	
		</div>
		<div class="clear"></div>
		  </div>
      </div>
</div>     </div>
         
		 
 
<div class="wrap-footer-text group">
   <div class="container">
      <div class="row">
	     <div class="title-text-vaytindung title-mr-70">
			        <h2>TẠI SAO NÊN CHỌN Shinhanbank</h2>
			     </div>
				 <div class="col-md-4 col-sm-6 col-xs-12 paddingweb">
		   <div class="item equalize">
		      <span class="number">1</span>
			  <span class="title">HOÀN TOÀN MIỄN PHÍ</span>
			  <p class="text">
                    Tự do tìm kiếm, nhận tư vấn và đăng ký trực tuyến 100% miễn phí                </p>
			</div>
		 </div>
		  		 <div class="col-md-4 col-sm-6 col-xs-12 paddingweb">
		   <div class="item equalize">
		      <span class="number">2</span>
			  <span class="title">NHANH CHÓNG, TIỆN LỢI, NHIỀU ƯU ĐÃI</span>
			  <p class="text">
                    Đắng ký vay / Gửi tiết kiệm / Mở thẻ trực tuyến nhanh chóng                </p>
			</div>
		 </div>
		  		 <div class="col-md-4 col-sm-6 col-xs-12 paddingweb">
		   <div class="item equalize">
		      <span class="number">3</span>
			  <span class="title">CHUYÊN NGHIỆP TUYỆT ĐỐI</span>
			  <p class="text">
                    Dịch vụ chuyên nghiệp từ các chuyên gia tài chính                </p>
			</div>
		 </div>
		  	  </div>
   </div>
</div>
<div class="header-border-bottom">
 
</div>
<footer class="section">
<div class="container">
<div class="row">
<div class="col-md-3 col-sm-6">
<div class="block-subscribe">
<h3 class="widget-title">Giới Thiệu</h3>
<p>
<p>Hotline: 0707183645</p></p>
</div>
</div>
<div class="col-md-3 col-sm-6">
<h3 class="widget-title">SẢN PHẨM DỊCH VỤ SHINHANBANK</h3>
<ul>
      <li><a href="/vay-tieu-dung">Vay Tiêu Dùng </a></li>
     <li><a href="/the-tin-dung-shinhanbank">thẻ tín dụng shinhanbank </a></li>

     <li><a href="/ho-tro-cong-nhan-va-tu-doanh">Hỗ Trợ Công Nhân và Tự Doanh</a></li>
   
</ul>
  </div>
<div class="col-md-3 col-sm-6">
<h3 class="widget-title">Nhận Tin Khuyến Mãi</h3>
<div class="tagcloud">
      <input type="text" class="form-control textdangki" name="email" placeholder="Vui Lòng Nhập Email" style="margin-bottom: 5px">
      <button type="button" class="btn btn-common clickdangki">Đăng Kí</button>
</div>
</div>
</div>
</div>
</footer>
<div class="website" style="    background-color: #f1f1f1;color:#1b1b1b;font-size: 15px;padding: 7px 0px;">
<div class="container">
    <div class="row">
        Bản Quyền Thuộc Về  | Cung Cấp Bởi Hodyweb.com
    </div>
    
</div>
</div>
 <div class="modal fade"  id="modalsanpham"  tabindex="-1" role="dialog" aria-labelledby="demoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg  " role="document">
        <div class="modal-content" style="padding-bottom: 17px;">

            <div class="container-fluid">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    
                      <div class="wrap-ajax-sanpham" style="padding: 22px 18px;">
                              <div class="show-ajax-sanpham">
                                   
                              </div>
                          
                      </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
 <div class="modal fade"  id="modalgiohang"  tabindex="-1" role="dialog"
     aria-labelledby="demoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg  " role="document">
        <div class="modal-content">

            <div class="container-fluid">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    
                      <div class="wrap-giohang">
                          <p class="dangloadgh" style="background-color: #00a08a;color: white;padding: 13px 15px;">Sản Phẩm Đã Thêm Vào Giỏ Hàng</p>
                          
                              <div class="show-ajax-giohang">
                                 
                                   
                                 
                              </div>
                          
                      </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>

 
 <div class="modal fade"  id="modaldangki"  tabindex="-1" role="dialog"
     aria-labelledby="demoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg  " role="document">
        <div class="modal-content">

            <div class="container-fluid">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                   <div class="title-text-vaytindung" style="margin-top: 30px;">
			        <h2>Đăng Kí Vay Tiêu Dùng</h2>
					<form  method="post" class="formdangki">
					<div class="wrap-modal-vaytieudung">
						<div class="panel-cart-group">
							<span class="panel-cart-text">Họ Và Tên (*):</span>
							<input type="text" name="name" class="form-control hovatenmodal" value="" placeholder="Họ Và Tên(*)" required>
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Cơ Quan Hiện Tại:</span>
							<input type="text" name="coquan" class="form-control coquanhientaimodal" value="" placeholder="Cơ Quan Hiện Tại">
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Số Điện Thoại (*):</span>
							<input type="text" name="sodienthoai" class="form-control sodienthoaimodal" value="" placeholder="Số Điện Thoại(*)">
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Địa Chỉ (*):</span>
							<input type="text" name="diachi" class="form-control diachimodal" value="" placeholder="Địa Chỉ">
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Thu Nhập Hàng Tháng:</span>
							<select class="form-control thunhaphangthang" name="thunhap">
                                 <option value="">Thu Nhập Hàng Tháng</option>
                                 <option value="Dưới 5 Triệu">Dưới 5 Triệu</option>
                                 <option value="5-10 Triệu">5-10 Triệu</option>	
                                 <option value="10-15 Triệu">10-15 Triệu</option>
                                 <option value="15-20 Triệu">15-20 Triệu</option>
                                 <option value="Trên 20 Triệu">Trên 20 Triệu</option>								 
                            </select>
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Số Tiền Cần Vay (*):</span>
							<input type="text" name="sotien" class="form-control sotienvay sotienvaymotmodal" value="" placeholder="Số Tiền Cần Vay(*)" onkeypress="return isNumberKey(event)">
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Số CMND (*):</span>
							<input type="text" name="socmnd" class="form-control socmndmodal" value="" placeholder="Số CMND(*)" onkeypress="return isNumberKey(event)">
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Ngày Sinh (*):</span>
							<input type="text" name="ngaysinh" class="form-control ngaysinhmodal" value="" placeholder="Ngày Sinh(*)">
						</div>
						
						<div class="panel-cart-group">
						<span class="panel-cart-text">Hình Thức Nhận Lương (*):</span>
						<select class="form-control hinhthucnhanluongmodal" name="hinhthuc">
                                 <option value="">Hình Thức Nhận Lương</option>
                                 <option value="Tiền Mặt">Tiền Mặt</option>
                                 <option value="Chuyển Khoản">Chuyển Khoản</option>	
                                 						 
                         </select>
				       </div>
						
						<div class="wrap-dangki-ngay-form">
				           <span class="clickdangkiformmodal">Đăng Kí Ngay <i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
		                   <p class="dangchaydkmodal" style="margin-top: 6px;display:none">Đang Đăng Kí, Quý Khách Đợi Trong Giây Lát ...</p>
						 </div>
						
					</div>
					</form>
			     </div>
                </div>
            </div>
        </div>
    </div>
</div> <div class="modal fade"  id="modalthongbao"  tabindex="-1" role="dialog"
     aria-labelledby="demoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg  " role="document">
        <div class="modal-content">

            <div class="container-fluid">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    
                      <div class="wrap-giohang">
                          <p class="dangloadgh" style="background-color: #482368;color: white;padding: 13px 15px;font-size: 18px;">Thông Báo</p>
                          
                              <div class="show-ajax-thongbao">
                                 
                                    <p class="icon"><i class="fa fa-check-circle" aria-hidden="true"></i></p>
                                    <p class="text">Đăng Kí Thành Công</p>
                              </div>
                          
                      </div>
                   
                </div>
            </div>
        </div>
    </div>
</div><a href="#" class="back-to-top">
<i class="fa fa-arrow-up" aria-hidden="true"></i>
</a>