<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb">
                  <!-- <a href=""><i class="icon-home"></i> Trang Chủ</a>
                   <span class="crumbs-spacer"><i class="fa fa-angle-double-right"></i></span>
                   <a href=""> Trang mữ</a>
                   <span class="crumbs-spacer"><i class="fa fa-angle-double-right"></i></span>
                   <span class="current">Thời Trang Nam</span>  -->
                   <a href="/home"><i class="icon-home"></i> Trang Chủ</a>
                                       <span class="crumbs-spacer"><i class="fa fa-angle-double-right"></i></span>
                   <span class="current">Tin Tức</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-bottom: 17px;background-color: white;padding: 3px;">
         <div class="wrapnews" idnews="56" idshowqc="1">
<div class="row">
   <div class="col-lg-9">
       <div class="post-content rsimg">
            <h1 class="post-title"><a href="#">Tưng bừng khai trương, nhận nghìn quà tặng</a></h1>
            
            <div class="meta">
            <span class="meta-part"><a href="#"><i class="fa fa-user" aria-hidden="true"></i> Admin</a></span>
            <span class="meta-part"><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>  06-10-2020</a></span>
            </div>
            
		<div class="intro-news">
			   Tưng bừng khai trương, nhận nghìn quà tặng  
			</div>
            <div class="wrapcontent">
              
               <div class="title-num col-xs-12">
<div class="num">1</div>
<h5>Chi tiết chương trình:</h5>
<p>Nhân dịp khai trương <a class=" link_internal" href="https://shinhan.com.vn/vi/branches?q=c%E1%BA%A7n+th%C6%A1" target="_blank" rel="noopener">Ngân hàng Shinhan – Chi nhánh Cần Thơ</a>, gửi đến khách hàng các quà tặng đặc biệt khi:</p>
<p><strong>1. Mở tài khoản và đăng ký, kích hoạt Internet Banking</strong></p>
<ul>
<li>Thực hiện giao dịch từ 100.000 đồng đến 1.000.000 đồng: Móc khóa Shinhan</li>
<li>Thực hiện giao dịch trên 1.000.000 đồng: Túi canvas</li>
</ul>
<p><strong>2. Gửi tiết kiệm kỳ hạn từ 03 tháng (*)</strong></p>
<ul>
<li>Gửi từ 2.000.000 đến 10.000.000 đồng: Móc khóa Shinhan</li>
<li>Gửi từ 11.000.000 đến 50.000.000 đồng: Áo mưa Shinhan</li>
<li>Gửi từ 51.000.000 đến 100.000.000 đồng: Túi canvas</li>
<li>Gửi trên 100.000.000 đồng: Dù Shinhan</li>
</ul>
<p><strong>3. Mở thẻ tín dụng</strong></p>
<ul>
<li>Mở thẻ tín dụng hạng Chuẩn và chi tiêu tối thiểu 500.000 đồng trong vòng 30 ngày: Áo mưa Shinhan</li>
<li>Mở thẻ tín dụng hạng Vàng và chi tiêu tối thiểu 500.000 đồng trong vòng 30 ngày: Túi canvas</li>
<li>Mở thẻ tín dụng hạng Bạch Kim và chi tiêu tối thiểu 500.000 đồng trong vòng 30 ngày: Dù Shinhan</li>
</ul>
<p>(*) Quà tặng chỉ áp dụng cho các tài khoản tiết kiệm không rút trước hạn.</p>
</div>
<div class="box-type row">
<div class="col-xs-12">
<div class="row">
<div class="title-num col-sm-4 col-xs-12">
<div class="num">2</div>
<h5><strong>Thời hạn chương trình:</strong></h5>
</div>
<p>Từ 17.09 đến 30.10.2020.</p>
</div>
</div>
</div>
<div class="">
<div class="box-type row">
<div class="title-num col-xs-12">
<div class="num">3</div>
<h5>Điều kiện và điều khoản áp dụng.</h5>
</div>
</div>
</div></p>              
            </div>
            
            
            
            
       </div>
   </div>
   
   <div class="col-lg-3">
    <div class="widget-ct widget-categories mb-30" style="margin-top: 15px;">
    <div class="widget-s-title">
    <h4>SẢN PHẨM DỊCH VỤ</h4>
    </div>
    <ul id="accordion-category" class="product-cat">
          <li><a href="/vay-tieu-dung">Vay Tiêu Dùng </a></li>
         <li><a href="/the-tin-dung-shinhanbank">thẻ tín dụng shinhanbank </a></li>
         <li><a href="/vay-the-chap-nha-dat">Vay Thế Chấp Nhà đất</a></li>
         <li><a href="/ho-tro-cong-nhan-va-tu-doanh">Hỗ Trợ Công Nhân và Tự Doanh</a></li>
       
    </ul>
</div>
       <!-- new -->
         <div class="title-news">Tin Liên Quan</div>
    <div class="aside-content">
         			<div class="blog-list blog-image-list">
				
				<div class="loop-blog">
					<div class="thumb-left">
						<a href="/vay-tin-chap-vay-tieu-dung">
	                           <img src="/public/image/a188add40d415a128d9b4ffbdb68f632.JPG" style="max-width:100%;" class="img-responsive" title="Vay tín chấp - Vay tiêu dùng ngân hàng Shinhanbank." alt="Vay tín chấp - Vay tiêu dùng ngân hàng Shinhanbank.">
					     </a>
				    </div>
				   <div class="name-right">
							<h3><a href="/vay-tin-chap-vay-tieu-dung" title="Vay tín chấp - Vay tiêu dùng ngân hàng Shinhanbank.">Vay tín chấp - Vay tiêu dùng ngân hà...</a></h3>
							<div class="date"><i class="fa fa-clock-o"></i> 09-09-2020</div>
											
				</div>
			</div>
	
		</div>
		<div class="clear"></div>
					<div class="blog-list blog-image-list">
				
				<div class="loop-blog">
					<div class="thumb-left">
						<a href="/quy-khach-se-de-dang">
	                           <img src="/public/image/a249c6cb182ab86936dba6f1d289692e.jpg" style="max-width:100%;" class="img-responsive" title="Quý khách sẽ dễ dàng tiếp cận gói vay của Shinhan Bank " alt="Quý khách sẽ dễ dàng tiếp cận gói vay của Shinhan Bank ">
					     </a>
				    </div>
				   <div class="name-right">
							<h3><a href="/quy-khach-se-de-dang" title="Quý khách sẽ dễ dàng tiếp cận gói vay của Shinhan Bank ">Quý khách sẽ dễ dàng tiếp cận gói va...</a></h3>
							<div class="date"><i class="fa fa-clock-o"></i> 16-09-2020</div>
											
				</div>
			</div>
	
		</div>
		<div class="clear"></div>
					<div class="blog-list blog-image-list">
				
				<div class="loop-blog">
					<div class="thumb-left">
						<a href="/tung-bung-khai-truong">
	                           <img src="/public/image/bd6eaab62077069666f51a3d203f2f2a.jpg" style="max-width:100%;" class="img-responsive" title="Tưng bừng khai trương, nhận nghìn quà tặng" alt="Tưng bừng khai trương, nhận nghìn quà tặng">
					     </a>
				    </div>
				   <div class="name-right">
							<h3><a href="/tung-bung-khai-truong" title="Tưng bừng khai trương, nhận nghìn quà tặng">Tưng bừng khai trương, nhận nghìn qu...</a></h3>
							<div class="date"><i class="fa fa-clock-o"></i> 06-10-2020</div>
											
				</div>
			</div>
	
		</div>
		<div class="clear"></div>
					<div class="blog-list blog-image-list">
				
				<div class="loop-blog">
					<div class="thumb-left">
						<a href="/thoa-trai-nghiem">
	                           <img src="/public/image/279cf4dee50aae9998c6ec8e87e25e59.jpg" style="max-width:100%;" class="img-responsive" title="Thỏa trải nghiệm - Hoàn triệu điểm (Dành cho Khách hàng Doanh Nghiệp hiện hữu)" alt="Thỏa trải nghiệm - Hoàn triệu điểm (Dành cho Khách hàng Doanh Nghiệp hiện hữu)">
					     </a>
				    </div>
				   <div class="name-right">
							<h3><a href="/thoa-trai-nghiem" title="Thỏa trải nghiệm - Hoàn triệu điểm (Dành cho Khách hàng Doanh Nghiệp hiện hữu)">Thỏa trải nghiệm - Hoàn triệu điểm (...</a></h3>
							<div class="date"><i class="fa fa-clock-o"></i> 06-10-2020</div>
											
				</div>
			</div>
	
		</div>
		<div class="clear"></div>
					<div class="blog-list blog-image-list">
				
				<div class="loop-blog">
					<div class="thumb-left">
						<a href="/vay-tin-chap">
	                           <img src="/public/image/ab03c4fdadadd4157f0073850ce3d832.png" style="max-width:100%;" class="img-responsive" title="Vay tín chấp ngân hàng Shinhan Bank không thế chấp tài sản, lãi suất thấp nhất thị trường." alt="Vay tín chấp ngân hàng Shinhan Bank không thế chấp tài sản, lãi suất thấp nhất thị trường.">
					     </a>
				    </div>
				   <div class="name-right">
							<h3><a href="/vay-tin-chap" title="Vay tín chấp ngân hàng Shinhan Bank không thế chấp tài sản, lãi suất thấp nhất thị trường.">Vay tín chấp ngân hàng Shinhan Bank ...</a></h3>
							<div class="date"><i class="fa fa-clock-o"></i> 09-09-2020</div>
											
				</div>
			</div>
	
		</div>
		<div class="clear"></div>
					<div class="blog-list blog-image-list">
				
				<div class="loop-blog">
					<div class="thumb-left">
						<a href="/rut-tien-td">
	                           <img src="/public/image/3b05f83f529e3602eef89682a41678db.jpg" style="max-width:100%;" class="img-responsive" title="RÚT TIỀN MẶT THẺ TÍN DỤNG LÃI SUẤT ƯU ĐÃI 1.1% / THÁNG" alt="RÚT TIỀN MẶT THẺ TÍN DỤNG LÃI SUẤT ƯU ĐÃI 1.1% / THÁNG">
					     </a>
				    </div>
				   <div class="name-right">
							<h3><a href="/rut-tien-td" title="RÚT TIỀN MẶT THẺ TÍN DỤNG LÃI SUẤT ƯU ĐÃI 1.1% / THÁNG">RÚT TIỀN MẶT THẺ TÍN DỤNG LÃI SUẤT Ư...</a></h3>
							<div class="date"><i class="fa fa-clock-o"></i> 08-06-2020</div>
											
				</div>
			</div>
	
		</div>
		<div class="clear"></div>
		  </div>
      <!-- end -->
   
   </div>
   
   
</div>
</div>
     </div>
         
		 
 
<div class="wrap-footer-text group">
   <div class="container">
      <div class="row">
	     <div class="title-text-vaytindung title-mr-70">
			        <h2>TẠI SAO NÊN CHỌN SHINHANBANK</h2>
			     </div>
				 <div class="col-md-4 col-sm-6 col-xs-12 paddingweb">
		   <div class="item equalize">
		      <span class="number">1</span>
			  <span class="title">HOÀN TOÀN MIỄN PHÍ</span>
			  <p class="text">
                    Tự do tìm kiếm, nhận tư vấn và đăng ký trực tuyến 100% miễn phí                </p>
			</div>
		 </div>
		  		 <div class="col-md-4 col-sm-6 col-xs-12 paddingweb">
		   <div class="item equalize">
		      <span class="number">2</span>
			  <span class="title">NHANH CHÓNG, TIỆN LỢI, NHIỀU ƯU ĐÃI</span>
			  <p class="text">
                    Đắng ký vay / Gửi tiết kiệm / Mở thẻ trực tuyến nhanh chóng                </p>
			</div>
		 </div>
		  		 <div class="col-md-4 col-sm-6 col-xs-12 paddingweb">
		   <div class="item equalize">
		      <span class="number">3</span>
			  <span class="title">CHUYÊN NGHIỆP TUYỆT ĐỐI</span>
			  <p class="text">
                    Dịch vụ chuyên nghiệp từ các chuyên gia tài chính                </p>
			</div>
		 </div>
		  	  </div>
   </div>
</div>
<div class="header-border-bottom">
 
</div>
<footer class="section">
<div class="container">
<div class="row">
<div class="col-md-3 col-sm-6">
<div class="block-subscribe">
<h3 class="widget-title">Giới Thiệu</h3>
<p>
<p>Hotline: 0707183645</p></p>
</div>
</div>
<div class="col-md-3 col-sm-6">
<h3 class="widget-title">SẢN PHẨM DỊCH VỤ SHINHANBANK</h3>
<ul>
      <li><a href="/vay-tieu-dung">Vay Tiêu Dùng </a></li>
     <li><a href="/the-tin-dung-shinhanbank">thẻ tín dụng shinhanbank </a></li>
     <li><a href="/vay-the-chap-nha-dat">Vay Thế Chấp Nhà đất</a></li>
     <li><a href="/ho-tro-cong-nhan-va-tu-doanh">Hỗ Trợ Công Nhân và Tự Doanh</a></li>
   
</ul>
  </div>
<div class="col-md-3 col-sm-6">
<h3 class="widget-title">Nhận Tin Khuyến Mãi</h3>
<div class="tagcloud">
      <input type="text" class="form-control textdangki" name="email" placeholder="Vui Lòng Nhập Email" style="margin-bottom: 5px">
      <button type="button" class="btn btn-common clickdangki">Đăng Kí</button>
</div>
</div>
</div>
</div>
</footer>
<div class="website" style="    background-color: #f1f1f1;color:#1b1b1b;font-size: 15px;padding: 7px 0px;">
<div class="container">
    <div class="row">
        Bản Quyền Thuộc Về shinhanbankvay24h.com.vn | Cung Cấp Bởi Hodyweb.com
    </div>
    
</div>
</div>
 <div class="modal fade"  id="modalsanpham"  tabindex="-1" role="dialog" aria-labelledby="demoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg  " role="document">
        <div class="modal-content" style="padding-bottom: 17px;">

            <div class="container-fluid">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    
                      <div class="wrap-ajax-sanpham" style="padding: 22px 18px;">
                              <div class="show-ajax-sanpham">
                                   
                              </div>
                          
                      </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
 <div class="modal fade"  id="modalgiohang"  tabindex="-1" role="dialog"
     aria-labelledby="demoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg  " role="document">
        <div class="modal-content">

            <div class="container-fluid">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    
                      <div class="wrap-giohang">
                          <p class="dangloadgh" style="background-color: #00a08a;color: white;padding: 13px 15px;">Sản Phẩm Đã Thêm Vào Giỏ Hàng</p>
                          
                              <div class="show-ajax-giohang">
                                 
                                   
                                 
                              </div>
                          
                      </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>

 
 <div class="modal fade"  id="modaldangki"  tabindex="-1" role="dialog"
     aria-labelledby="demoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg  " role="document">
        <div class="modal-content">

            <div class="container-fluid">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                   <div class="title-text-vaytindung" style="margin-top: 30px;">
			        <h2>Đăng Kí Vay Tiêu Dùng</h2>
					<form action="https://shinhanbankvay24h.com.vn/dichvu/dangki" method="post" class="formdangki">
					<div class="wrap-modal-vaytieudung">
						<div class="panel-cart-group">
							<span class="panel-cart-text">Họ Và Tên (*):</span>
							<input type="text" name="name" class="form-control hovatenmodal" value="" placeholder="Họ Và Tên(*)" required>
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Cơ Quan Hiện Tại:</span>
							<input type="text" name="coquan" class="form-control coquanhientaimodal" value="" placeholder="Cơ Quan Hiện Tại">
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Số Điện Thoại (*):</span>
							<input type="text" name="sodienthoai" class="form-control sodienthoaimodal" value="" placeholder="Số Điện Thoại(*)">
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Địa Chỉ (*):</span>
							<input type="text" name="diachi" class="form-control diachimodal" value="" placeholder="Địa Chỉ">
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Thu Nhập Hàng Tháng:</span>
							<select class="form-control thunhaphangthang" name="thunhap">
                                 <option value="">Thu Nhập Hàng Tháng</option>
                                 <option value="Dưới 5 Triệu">Dưới 5 Triệu</option>
                                 <option value="5-10 Triệu">5-10 Triệu</option>	
                                 <option value="10-15 Triệu">10-15 Triệu</option>
                                 <option value="15-20 Triệu">15-20 Triệu</option>
                                 <option value="Trên 20 Triệu">Trên 20 Triệu</option>								 
                            </select>
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Số Tiền Cần Vay (*):</span>
							<input type="text" name="sotien" class="form-control sotienvay sotienvaymotmodal" value="" placeholder="Số Tiền Cần Vay(*)" onkeypress="return isNumberKey(event)">
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Số CMND (*):</span>
							<input type="text" name="socmnd" class="form-control socmndmodal" value="" placeholder="Số CMND(*)" onkeypress="return isNumberKey(event)">
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Ngày Sinh (*):</span>
							<input type="text" name="ngaysinh" class="form-control ngaysinhmodal" value="" placeholder="Ngày Sinh(*)">
						</div>
						
						<div class="panel-cart-group">
						<span class="panel-cart-text">Hình Thức Nhận Lương (*):</span>
						<select class="form-control hinhthucnhanluongmodal" name="hinhthuc">
                                 <option value="">Hình Thức Nhận Lương</option>
                                 <option value="Tiền Mặt">Tiền Mặt</option>
                                 <option value="Chuyển Khoản">Chuyển Khoản</option>	
                                 						 
                         </select>
				       </div>
						
						<div class="wrap-dangki-ngay-form">
				           <span class="clickdangkiformmodal">Đăng Kí Ngay <i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
		                   <p class="dangchaydkmodal" style="margin-top: 6px;display:none">Đang Đăng Kí, Quý Khách Đợi Trong Giây Lát ...</p>
						 </div>
						
					</div>
					</form>
			     </div>
                </div>
            </div>
        </div>
    </div>
</div> <div class="modal fade"  id="modalthongbao"  tabindex="-1" role="dialog"
     aria-labelledby="demoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg  " role="document">
        <div class="modal-content">

            <div class="container-fluid">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    
                      <div class="wrap-giohang">
                          <p class="dangloadgh" style="background-color: #482368;color: white;padding: 13px 15px;font-size: 18px;">Thông Báo</p>
                          
                              <div class="show-ajax-thongbao">
                                 
                                    <p class="icon"><i class="fa fa-check-circle" aria-hidden="true"></i></p>
                                    <p class="text">Đăng Kí Thành Công</p>
                              </div>
                          
                      </div>
                   
                </div>
            </div>
        </div>
    </div>
</div><a href="#" class="back-to-top">
<i class="fa fa-arrow-up" aria-hidden="true"></i>
</a>