<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb">
                  <!-- <a href=""><i class="fa fa-home" aria-hidden="true"></i> Trang Chủ</a>
                   <span class="crumbs-spacer"><i class="fa fa-angle-double-right"></i></span>
                   <a href=""> Trang mữ</a>
                   <span class="crumbs-spacer"><i class="fa fa-angle-double-right"></i></span>
                   <span class="current">Thời Trang Nam</span>  -->
                   <a href="/home"><i class="fa fa-home" aria-hidden="true"></i> Trang Chủ</a>
                                       <span class="crumbs-spacer"><i class="fa fa-angle-double-right"></i></span>
                   <span class="current">Tin Tức</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-bottom: 17px;background-color: white;padding: 3px;">
         <div class="wrapnews" idnews="59" idshowqc="1">
<div class="row">
   <div class="col-lg-9">
       <div class="post-content rsimg">
            <h1 class="post-title"><a href="#">Vay tín chấp - Vay tiêu dùng ngân hàng Shinhanbank.</a></h1>
            
            <div class="meta">
            <span class="meta-part"><a href="#">    <i class="fa fa-user" aria-hidden="true"></i> Admin</a></span>
        
            <span class="meta-part"><a href="#">    <i class="fa fa-calendar" aria-hidden="true"></i>09-09-2020</a></span>
            </div>
            
			<div class="intro-news">
			   Vay tín chấp tiêu dùng ngân hàng Shinhanbank.   
			</div>
            <div class="wrapcontent">
              
               <div class="td-post-header"><header class="td-post-title">
</header></div>
<div class="td-post-content tagdiv-type">
<p class="brief"><em><strong>Vay tín chấp - Vay tiêu dùng</strong> tại <strong>Shinhan Bank</strong> để hưởng lãi suất ưu đãi. Quý khách đang lên kế hoạch cho đám cưới, xây sửa nhà hay cho con yêu du học?…Shinhan Bank sẽ đáp ứng kịp thời mọi nhu cầu về tài chính và giúp bạn có cuộc sống tốt đẹp hơn.</em></p>
<p class="brief"><a href="/vay-tin-chap-vay-tieu-dung" target="_blank" rel="noopener">Tìm hiểu thêm về vay tín chấp</a></p>
<p class="brief"><span style="font-size: 20px;"><strong>1. Lợi ích khi đăng ký khoản vay tín chấp - Vay tiêu dùng tại ngân hàng Shinhan Bank:</strong></span></p>
<div class="content">
<p style="text-align: center;"><strong><img class="aligncenter wp-image-191 td-animation-stack-type0-2" title="Vay tín chấp tiêu dùng ngân hàng Shinhanbank" src="https://taichinhaz.vn/wp-content/uploads/2020/04/vay-tin-chap-shihan-bank-300x200.jpg" sizes="(max-width: 800px) 100vw, 800px" srcset="https://taichinhaz.vn/wp-content/uploads/2020/04/vay-tin-chap-shihan-bank-300x200.jpg 300w, https://taichinhaz.vn/wp-content/uploads/2020/04/vay-tin-chap-shihan-bank-768x512.jpg 768w, https://taichinhaz.vn/wp-content/uploads/2020/04/vay-tin-chap-shihan-bank-696x464.jpg 696w, https://taichinhaz.vn/wp-content/uploads/2020/04/vay-tin-chap-shihan-bank-630x420.jpg 630w, https://taichinhaz.vn/wp-content/uploads/2020/04/vay-tin-chap-shihan-bank.jpg 850w" alt="Vay tín chấp tiêu dùng ngân hàng Shinhanbank" width="800" height="534" /></strong></p>
<p><strong><em>Vay tín chấp - Vay tiêu dùng ngân hàng Shinhanbank</em></strong></p>
<div class="tab-expand">
<div class="item ">
<div class="head">
<div class="text">
<ul>
<li>Lãi suất ưu đãi tính trên dư nợ giảm dần</li>
<li>Vay tiền lên đến <strong>900 triệu</strong></li>
<li>Thời hạn vay linh hoạt từ <strong>12 – 60 tháng</strong></li>
<li>Thủ tục đơn giản, nhanh chóng</li>
<li>Không yêu cầu tài sản thế chấp hay bảo lãnh của công ty</li>
<li>Dịch vụ chăm sóc, hỗ trợ khách hàng chu đáo</li>
<li>Áp dụng cho Khách hàng từ 18 – 65 tuổi và thu nhập sau thuế tối thiểu 6 triệu/tháng</li>
</ul>
</div>
</div>
</div>
</div>
<div class="text">
<h2><span style="font-size: 20px;">2. Lãi suất vay tiêu dùng ngân hàng Shinhan:</span></h2>
</div>
<p><strong><em>Vay tín chấp tiêu dùng Shinhan Bank</em></strong> áp dụng lãi suất cạnh tranh theo dư nợ giảm dần, cam kết lãi suất thấp nhất thị trường Vay tiêu dùng hiện nay.</p>
<p>Số tiền trả hàng tháng là bằng nhau, giúp Khách hàng dễ dàng nhớ khoản tiền trả, nhắm giảm bớt tình trạng trả chậm, trả trễ của Khách hàng.</p>
<p>Lãi suất Dư nợ giảm dần chỉ từ <em>12%/năm</em> đến <em>18%/năm</em> đối với Khách hàng thường.</p>
<p>Tạm tính Lãi suất cố định chỉ từ <em>7.2%/năm</em> đến <em>9.5%/năm</em></p>
<p>Cam kết lãi suất không tăng qua các năm.</p>
<p><em>Bảng tính tiền đóng hàng tháng cho khách hàng tham khảo:</em></p>
<p style="text-align: center;"><em><img src="/public/image/IMG_0005_Original.jpg" alt="" width="771" height="758" /></em></p>
</div>
<h2 class="content"><span style="font-size: 20px;">3. Hạn Mức Vay Tín Chấp Theo Lương Shinhan Bank</span></h2>
<p style="text-align: center;"><strong><img class="aligncenter wp-image-196 td-animation-stack-type0-2" title="Hạn mức vay Shinhan Bank" src="/public/image/han-muc-vay-tin-chap-ngan-hang-shinhan-bank-300x81.jpg" sizes="(max-width: 800px) 100vw, 800px" srcset="/public/image/han-muc-vay-tin-chap-ngan-hang-shinhan-bank-300x81.jpg 300w, https://taichinhaz.vn/wp-content/uploads/2020/04/han-muc-vay-tin-chap-ngan-hang-shinhan-bank-768x206.jpg 768w, https://taichinhaz.vn/wp-content/uploads/2020/04/han-muc-vay-tin-chap-ngan-hang-shinhan-bank-696x187.jpg 696w, https://taichinhaz.vn/wp-content/uploads/2020/04/han-muc-vay-tin-chap-ngan-hang-shinhan-bank.jpg 800w" alt="Hạn mức vay Shinhan Bank" width="800" height="215" /></strong></p>
<p><em>Hạn Mức Vay Theo Lương tại <strong>Ngân Hàng Shinhan Bank</strong></em></p>
<p>Khách hàng chưa có khoản vay, hoặc đang có khoản vay, hoặc thẻ tín dụng tại các Ngân hàng khác dưới 3 tháng:</p>
<p>– Mức lương trên 8 triệu/tháng: hạn mức vay tiêu dùng ngân hàng <strong>Shinhan Bank</strong> lên đến 6 lần thu nhập.</p>
<p>– Mức lương từ 8 triệu đến 12 triệu/tháng: hạn mức vay gấp 10 lần thu nhập.</p>
<p>– Mức lương trên 12 triệu/tháng: hạn mức vay gấp 12 lần thu nhập.</p>
<h2><span style="font-size: 20px;">4. Điều kiện vay tín chấp ngân hàng Shinhan Bank:</span></h2>
<ul>
<li>Đi làm hưởng lương: Từ 21 đến 55 tuổi (nữ) và 58 tuổi (nam)</li>
<li>Tự doanh: Từ 21 đến 65 tuổi</li>
<li>Thu nhập tối thiểu 6 triệu đồng/tháng</li>
<li>Sống ở TP. HCM, Bình Dương</li>
</ul>
<h2><span style="font-size: 20px;">5. Hồ Sơ Thủ Tục Vay Tiêu Dùng Theo Lương Ngân Hàng Shinhan Bank</span></h2>
<p>– Chứng minh nhân dân còn hiệu lực.</p>
<p>– Hộ khẩu thường trú, hoặc Sổ tạm trú (KT3), hoặc Giấy xác nhận tạm trú (theo mẫu của ngân hàng Shinhan Bank)</p><div class='showquangcaogiua'></div>
<p>– Hồ sơ chứng minh thu nhập: Hợp đồng lao động (hoặc Giấy xác nhận công tác – theo mẫu), Sao kê tài khoản ngân hàng thể hiện mức lương của 3 tháng gần nhất.</p>
<div>Gọi ngay hotline: 0707183645 để được tư vấn miễn phí</div>
<div>Đăng Kí Vay <a href="/home">TẠI ĐÂY</a></div>
</div></p>              
            </div>
            
            



       </div>
   </div>
   
   <div class="col-lg-3">
    <div class="widget-ct widget-categories mb-30" style="margin-top: 15px;">
    <div class="widget-s-title">
    <h4>SẢN PHẨM DỊCH VỤ SHINHANBANK</h4>
    </div>
    <ul id="accordion-category" class="product-cat">
          <li><a href="/vay-tieu-dung">Vay Tiêu Dùng </a></li>
         <li><a href="/the-tin-dung-shinhanbank">thẻ tín dụng shinhanbank </a></li>
         <li><a href="/vay-the-chap-nha-dat">Vay Thế Chấp Nhà đất</a></li>
         <li><a href="/tien-ich/ho-tro-cong-nhan-va-tu-doanh">Hỗ Trợ Công Nhân và Tự Doanh</a></li>
       
    </ul>
</div>
       <!-- new -->
        <div class="title-news">Tin Liên Quan</div>
    <div class="aside-content">
         			<div class="blog-list blog-image-list">
				
				<div class="loop-blog">
					<div class="thumb-left">
						<a href="/tung-bung-khai-truong">
	                           <img src="/public/image/bd6eaab62077069666f51a3d203f2f2a.jpg" style="max-width:100%;" class="img-responsive" title="Tưng bừng khai trương, nhận nghìn quà tặng" alt="Tưng bừng khai trương, nhận nghìn quà tặng">
					     </a>
				    </div>
				   <div class="name-right">
							<h3><a href="/tung-bung-khai-truong" title="Tưng bừng khai trương, nhận nghìn quà tặng">Tưng bừng khai trương, nhận nghìn qu...</a></h3>
							<div class="date"><i class="fa fa-clock-o"></i> 06-10-2020</div>
											
				</div>
			</div>
	
		</div>
		<div class="clear"></div>
					<div class="blog-list blog-image-list">
				
				<div class="loop-blog">
					<div class="thumb-left">
						<a href="/thoa-trai-nghiem">
	                           <img src="/public/image/279cf4dee50aae9998c6ec8e87e25e59.jpg" style="max-width:100%;" class="img-responsive" title="Thỏa trải nghiệm - Hoàn triệu điểm (Dành cho Khách hàng Doanh Nghiệp hiện hữu)" alt="Thỏa trải nghiệm - Hoàn triệu điểm (Dành cho Khách hàng Doanh Nghiệp hiện hữu)">
					     </a>
				    </div>
				   <div class="name-right">
							<h3><a href="/thoa-trai-nghiem" title="Thỏa trải nghiệm - Hoàn triệu điểm (Dành cho Khách hàng Doanh Nghiệp hiện hữu)">Thỏa trải nghiệm - Hoàn triệu điểm (...</a></h3>
							<div class="date"><i class="fa fa-clock-o"></i> 06-10-2020</div>
											
				</div>
			</div>
	
		</div>
		<div class="clear"></div>
					<div class="blog-list blog-image-list">
				
				<div class="loop-blog">
					<div class="thumb-left">
						<a href="/vay-tin-chap">
	                           <img src="/public/image/ab03c4fdadadd4157f0073850ce3d832.jpg" style="max-width:100%;" class="img-responsive" title="Vay tín chấp ngân hàng Shinhan Bank không thế chấp tài sản, lãi suất thấp nhất thị trường." alt="Vay tín chấp ngân hàng Shinhan Bank không thế chấp tài sản, lãi suất thấp nhất thị trường.">
					     </a>
				    </div>
				   <div class="name-right">
							<h3><a href="/vay-tin-chap" title="Vay tín chấp ngân hàng Shinhan Bank không thế chấp tài sản, lãi suất thấp nhất thị trường.">Vay tín chấp ngân hàng Shinhan Bank ...</a></h3>
							<div class="date"><i class="fa fa-clock-o"></i> 09-09-2020</div>
											
				</div>
			</div>
	
		</div>
		<div class="clear"></div>
					<div class="blog-list blog-image-list">
				
				<div class="loop-blog">
					<div class="thumb-left">
						<a href="/niem-tin-cua-nd">
	                           <img src="/public/image/34e6bd2320923ac2c0ef7e6189a20833.jpg" style="max-width:100%;" class="img-responsive" title="Niềm tin của người dùng làm nên sức mạnh của Ngân hàng Shinhan" alt="Niềm tin của người dùng làm nên sức mạnh của Ngân hàng Shinhan">
					     </a>
				    </div>
				   <div class="name-right">
							<h3><a href="/niem-tin-cua-nd" title="Niềm tin của người dùng làm nên sức mạnh của Ngân hàng Shinhan">Niềm tin của người dùng làm nên sức ...</a></h3>
							<div class="date"><i class="fa fa-clock-o"></i> 16-09-2020</div>
											
				</div>
			</div>
	
		</div>
		<div class="clear"></div>
					<div class="blog-list blog-image-list">
				
				<div class="loop-blog">
					<div class="thumb-left">
						<a href="/rut-tien-td">
	                           <img src="/public/image/3b05f83f529e3602eef89682a41678db.jpg" style="max-width:100%;" class="img-responsive" title="RÚT TIỀN MẶT THẺ TÍN DỤNG LÃI SUẤT ƯU ĐÃI 1.1% / THÁNG" alt="RÚT TIỀN MẶT THẺ TÍN DỤNG LÃI SUẤT ƯU ĐÃI 1.1% / THÁNG">
					     </a>
				    </div>
				   <div class="name-right">
							<h3><a href="/rut-tien-td" title="RÚT TIỀN MẶT THẺ TÍN DỤNG LÃI SUẤT ƯU ĐÃI 1.1% / THÁNG">RÚT TIỀN MẶT THẺ TÍN DỤNG LÃI SUẤT Ư...</a></h3>
							<div class="date"><i class="fa fa-clock-o"></i> 08-06-2020</div>
											
				</div>
			</div>
	
		</div>
		<div class="clear"></div>
					<div class="blog-list blog-image-list">
				
				<div class="loop-blog">
					<div class="thumb-left">
						<a href="/quy-khach-se-de-dang">
	                           <img src="/public/image/a249c6cb182ab86936dba6f1d289692e.jpg" style="max-width:100%;" class="img-responsive" title="Quý khách sẽ dễ dàng tiếp cận gói vay của Shinhan Bank " alt="Quý khách sẽ dễ dàng tiếp cận gói vay của Shinhan Bank ">
					     </a>
				    </div>
				   <div class="name-right">
							<h3><a href="/quy-khach-se-de-dang" title="Quý khách sẽ dễ dàng tiếp cận gói vay của Shinhan Bank ">Quý khách sẽ dễ dàng tiếp cận gói va...</a></h3>
							<div class="date"><i class="fa fa-clock-o"></i> 16-09-2020</div>
											
				</div>
			</div>
	
		</div>
		<div class="clear"></div>
		  </div>
      <!-- end -->
   
   </div>
   
   
</div>
</div>
     </div>
         
		 
 
<div class="wrap-footer-text group">
   <div class="container">
      <div class="row">
	     <div class="title-text-vaytindung title-mr-70">
			        <h2>TẠI SAO NÊN CHỌN SHINHANBANK</h2>
			     </div>
				 <div class="col-md-4 col-sm-6 col-xs-12 paddingweb">
		   <div class="item equalize">
		      <span class="number">1</span>
			  <span class="title">HOÀN TOÀN MIỄN PHÍ</span>
			  <p class="text">
                    Tự do tìm kiếm, nhận tư vấn và đăng ký trực tuyến 100% miễn phí                </p>
			</div>
		 </div>
		  		 <div class="col-md-4 col-sm-6 col-xs-12 paddingweb">
		   <div class="item equalize">
		      <span class="number">2</span>
			  <span class="title">NHANH CHÓNG, TIỆN LỢI, NHIỀU ƯU ĐÃI</span>
			  <p class="text">
                    Đắng ký vay / Gửi tiết kiệm / Mở thẻ trực tuyến nhanh chóng                </p>
			</div>
		 </div>
		  		 <div class="col-md-4 col-sm-6 col-xs-12 paddingweb">
		   <div class="item equalize">
		      <span class="number">3</span>
			  <span class="title">CHUYÊN NGHIỆP TUYỆT ĐỐI</span>
			  <p class="text">
                    Dịch vụ chuyên nghiệp từ các chuyên gia tài chính                </p>
			</div>
		 </div>
		  	  </div>
   </div>
</div>
<div class="header-border-bottom">
 
</div>
<footer class="section">
<div class="container">
<div class="row">
<div class="col-md-3 col-sm-6">
<div class="block-subscribe">
<h3 class="widget-title">Giới Thiệu</h3>
<p>
<p>Hotline: 0707183645</p></p>
</div>
</div>
<div class="col-md-3 col-sm-6">
<h3 class="widget-title">SẢN PHẨM DỊCH VỤ SHINHANBANK</h3>
<ul>
      <li><a href="/tien-ich/vay-tieu-dung">Vay Tiêu Dùng </a></li>
     <li><a href="/the-tin-dung-shinhanbank">thẻ tín dụng shinhanbank </a></li>
     <li><a href="/vay-the-chap-nha-dat">Vay Thế Chấp Nhà đất</a></li>
     <li><a href="/ho-tro-cong-nhan-va-tu-doanh">Hỗ Trợ Công Nhân và Tự Doanh</a></li>
   
</ul>
  </div>
<div class="col-md-3 col-sm-6">
<h3 class="widget-title">Nhận Tin Khuyến Mãi</h3>
<div class="tagcloud">
      <input type="text" class="form-control textdangki" name="email" placeholder="Vui Lòng Nhập Email" style="margin-bottom: 5px">
      <button type="button" class="btn btn-common clickdangki">Đăng Kí</button>
</div>
</div>

</div>
</div>
</footer>
<div class="website" style="    background-color: #f1f1f1;color:#1b1b1b;font-size: 15px;padding: 7px 0px;">
<div class="container">
    <div class="row">
    </div>
    
</div>
</div>
 <div class="modal fade"  id="modalsanpham"  tabindex="-1" role="dialog" aria-labelledby="demoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg  " role="document">
        <div class="modal-content" style="padding-bottom: 17px;">

            <div class="container-fluid">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    
                      <div class="wrap-ajax-sanpham" style="padding: 22px 18px;">
                              <div class="show-ajax-sanpham">
                                   
                              </div>
                          
                      </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
 <div class="modal fade"  id="modalgiohang"  tabindex="-1" role="dialog"
     aria-labelledby="demoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg  " role="document">
        <div class="modal-content">

            <div class="container-fluid">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    
                      <div class="wrap-giohang">
                          <p class="dangloadgh" style="background-color: #00a08a;color: white;padding: 13px 15px;">Sản Phẩm Đã Thêm Vào Giỏ Hàng</p>
                          
                              <div class="show-ajax-giohang">
                                 
                                   
                                 
                              </div>
                          
                      </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>

 
 <div class="modal fade"  id="modaldangki"  tabindex="-1" role="dialog"
     aria-labelledby="demoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg  " role="document">
        <div class="modal-content">

            <div class="container-fluid">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                   <div class="title-text-vaytindung" style="margin-top: 30px;">
			        <h2>Đăng Kí Vay Tiêu Dùng</h2>
					<form method="post" class="formdangki">
					<div class="wrap-modal-vaytieudung">
						<div class="panel-cart-group">
							<span class="panel-cart-text">Họ Và Tên (*):</span>
							<input type="text" name="name" class="form-control hovatenmodal" value="" placeholder="Họ Và Tên(*)" required>
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Cơ Quan Hiện Tại:</span>
							<input type="text" name="coquan" class="form-control coquanhientaimodal" value="" placeholder="Cơ Quan Hiện Tại">
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Số Điện Thoại (*):</span>
							<input type="text" name="sodienthoai" class="form-control sodienthoaimodal" value="" placeholder="Số Điện Thoại(*)">
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Địa Chỉ (*):</span>
							<input type="text" name="diachi" class="form-control diachimodal" value="" placeholder="Địa Chỉ">
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Thu Nhập Hàng Tháng:</span>
							<select class="form-control thunhaphangthang" name="thunhap">
                                 <option value="">Thu Nhập Hàng Tháng</option>
                                 <option value="Dưới 5 Triệu">Dưới 5 Triệu</option>
                                 <option value="5-10 Triệu">5-10 Triệu</option>	
                                 <option value="10-15 Triệu">10-15 Triệu</option>
                                 <option value="15-20 Triệu">15-20 Triệu</option>
                                 <option value="Trên 20 Triệu">Trên 20 Triệu</option>								 
                            </select>
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Số Tiền Cần Vay (*):</span>
							<input type="text" name="sotien" class="form-control sotienvay sotienvaymotmodal" value="" placeholder="Số Tiền Cần Vay(*)" onkeypress="return isNumberKey(event)">
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Số CMND (*):</span>
							<input type="text" name="socmnd" class="form-control socmndmodal" value="" placeholder="Số CMND(*)" onkeypress="return isNumberKey(event)">
						</div>
						
						<div class="panel-cart-group">
							<span class="panel-cart-text">Ngày Sinh (*):</span>
							<input type="text" name="ngaysinh" class="form-control ngaysinhmodal" value="" placeholder="Ngày Sinh(*)">
						</div>
						
						<div class="panel-cart-group">
						<span class="panel-cart-text">Hình Thức Nhận Lương (*):</span>
						<select class="form-control hinhthucnhanluongmodal" name="hinhthuc">
                                 <option value="">Hình Thức Nhận Lương</option>
                                 <option value="Tiền Mặt">Tiền Mặt</option>
                                 <option value="Chuyển Khoản">Chuyển Khoản</option>	
                                 						 
                         </select>
				       </div>
						
						<div class="wrap-dangki-ngay-form">
				           <span class="clickdangkiformmodal">Đăng Kí Ngay <i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
		                   <p class="dangchaydkmodal" style="margin-top: 6px;display:none">Đang Đăng Kí, Quý Khách Đợi Trong Giây Lát ...</p>
						 </div>
						
					</div>
					</form>
			     </div>
                </div>
            </div>
        </div>
    </div>
</div> <div class="modal fade"  id="modalthongbao"  tabindex="-1" role="dialog"
     aria-labelledby="demoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg  " role="document">
        <div class="modal-content">

            <div class="container-fluid">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                    
                      <div class="wrap-giohang">
                          <p class="dangloadgh" style="background-color: #482368;color: white;padding: 13px 15px;font-size: 18px;">Thông Báo</p>
                          
                              <div class="show-ajax-thongbao">
                                 
                                    <p class="icon"><i class="fa fa-check-circle" aria-hidden="true"></i></p>
                                    <p class="text">Đăng Kí Thành Công</p>
                              </div>
                          
                      </div>
                   
                </div>
            </div>
        </div>
    </div>
</div><a href="#" class="back-to-top">
<i class="fa fa-arrow-up" aria-hidden="true"></i>
</a>